/*麵包屑*/
.breadcrumb {
  display: flex;
  /* color: var(--main); */
  font-size: var(--h6fs18);
  line-height: 1.3;
  flex-wrap: wrap;
}
.linked {
  color: var(--main);
}

.non-linked {
  color: var(--main); 
  font-weight: 600;
}

.breadcrumb > li {
  margin-right: 5px;
  padding: 2px 3px;
}

.breadcrumb > li:last-child {
  /* color:var(--dark-gray) */
}

/* .breadcrumb>li:first-child:hover{
    background-color: pink;
} */

@media screen and (max-width: 767px) {
  /* .breadcrumb{
        display: flex;
        color: var(--main);
        font-size: var(--pfs16);
        flex-wrap: wrap;
    }
    .breadcrumb>li:nth-child(3){
        width: 100%;
    } */
}
