.filter {
  margin: 48px 0;
    /* display: flex;
    align-items: flex-start;
    min-height: 50px; */
  }
  .labels {
    font-size: var(--h6fs18);
    font-weight: var(--fwbold);
    height: 100%;
    line-height: 50px;
    /* width: 110px; */
    /* text-align-last: justify; */
    margin-right: 16px;
    /* margin-top: 4px; */
  }
  
