.card {
  display: flex;
  width: 95%;
  height: 350px;
}

/* -------左邊------- */
.left {
  position: relative;
  width: 50%;
  /* height: 100%; */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--br10);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 40px;
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:var(--br10) 0 var(--br8) 0 ;
}

.text {
  font-size: var(--pfs16);
  color: white;
}

.heart_icon {
  position: absolute;
  bottom: 15px;
  right: 365px; 
  z-index: 9;
  font-size: 30px;
  cursor: pointer;
  color:var(--light-gray);

}

.heart_icon_liked{
  position: absolute;
  bottom: 15px;
  right: 365px; 
  z-index: 9;
  font-size: 30px;
  cursor: pointer;
  color:var(--heartRed);
}

.heart_icon:hover{
  color:var(--heartRed)
}



/* -------右邊------- */
.right {
  width: 50%;
  margin-left: 1.5rem; /*左右間距*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}



/* 標題 */
.rowTextTitle {
  font-weight: var(--fwbold);
  margin-right: 8px;
}

.review{
  display: flex;
  align-items: center;
  margin-right: 10px;
  }

.star_icon {
  margin-right: 5px;
  color: var(--starYellow);
  font-size: var(--h6fs18);
}

.row_icon{
  margin-right: 5px;
  font-size: var(--h6fs18);
  color: var(--main);
}

/* 地址 */
/* .rowTextAddress {
  color: var(--gray);

} */

.content{
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 顯示的行数 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  color: var(--dark);
}

.rowTextIntro{
  line-height: 20px; 
}

.rowTextLarge {
  color: var(--dark);
  font-size: var(--h5fs20);
}

.rowTextSmall {
  font-size: var(--h6fs18);
}


.feature {
  width: 130px;
  height: 40px;
  background-color: #FFD4C0;
  color: #515151;
  margin-right: 8px;
}

.price{
  color: var(--dark);
  font-weight: var(--fwbold);
}

.rowTextExtraSmall {
  font-size: var(--pfs14);
}
