.card {
    width: 363px;
    height: 152px;
    display: flex;
    margin-bottom: 1.5rem;
}
  
.image {
    width: 152px;
    height: 152px;
    border-radius: 50%;
    background-image: url('/activity_img/asian-young-girl-holding-kittens-park.jpg');
    background-size: cover;
}
  
.content {
    padding: var(--p16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.title {
    font-family: 'Inter', sans-serif;
    font-size: var(--h6fs18);
}
  
.count {
    font-size: var(--pfs16);
}
  
.location {
    display: flex;
    align-items: center;
    font-size: var(--pfs16);
    color: #666666;
}
  
.icon {
    margin-right: 4px;
}
  