.productCard{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding: 16px 0px;
    border-bottom: 1px dashed #FFD4C0;
}
.checkbox{
     margin-right: 16px;
}
.prodimg{
    width: 80px;
    border-radius: var(--br8);
    margin-right: 16px;
}
.forRwd{
    display: flex;
    align-items: center;
    flex-grow:1;
}
.prodname{
    flex-grow: 1;
    margin-right: 16px;
  
}
.prodtitle{
    font-size: var(--h6fs18);
    margin-bottom: 8px;
}
.prodSubtitle{
    font-size: var(--pfs16);
    color: var(--main);
}
.priceSet{
    display: flex;
    /* border: 1px solid red; */
}
.qtyset{
    margin-right: 16px;
    /* border: 1px solid green; */
    
}

.price{
    color: var(--gray);
    text-align: end;
    margin-bottom: 8px;
    width: 75px;

}
.numberstyle{
    display: block;
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    width: 70px;
    text-align: center;
    color: var(--dark-gray);
    margin-left: auto;
   
}
.subtotal{
    text-align: end;
    width: 40px;
    color: var(--main);
    margin-right: 16px;
    /* border: 1px solid blue; */
}

@media screen and (max-width:767px){
.forRwd{
    flex-direction: column;
    align-items: flex-start;
}
.subtotal{
    display: none;
}
.prodname{
    margin-bottom: 16px;
}
.price{
    margin-bottom: 8px;
}
.prodtitle{
    font-size: var(--pfs16);

}
.prodSubtitle{
    font-size: var(--pfs14);

}
}