.productCard{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding: var(--p16) 0px;
    border-bottom: 1px dashed var(--secondary);
}
.checkbox{
     margin-right: 16px;
    
}
.prodimg{
    width: 80px;
    border-radius: var(--br8);
    margin-right: 16px;
}
.forRwd{
    display: flex;
    align-items: center;
    flex-grow: 1;
    /* border: 1px solid gray; */
}
.prodname{
    flex-grow:1;
    margin-right: 16px;
    /* border: 1px solid red; */
}
.prodtitle{
    font-size: var(--h6fs18);
    margin-bottom: 8px;
}
.prodSubtitle{
    font-size: var(--pfs16);
    color: var(--main);
}
.priceQty{
    display: flex;
    align-items: center;
    max-width: 240px;
    /* border: 1px solid purple; */
}
.price{
    min-width: 55px;
    font-size: var(--pfs16);
    color: var(--gray);
    text-align: end;
    margin-right: 32px;
}
.numberstyle{
    border-radius: 8px;
    border: 1px solid var(--light-gray);
    min-width: 30px;
    margin-right: 16px;
    font-size: var(--pfs16);
    color: var(--dark-gray);
}
.subtotal{
    text-align: end;
    min-width: 60px;
    color: var(--main);
    margin-right: 16px;
    font-size: var(--pfs16);
    /* border: 1px solid green; */
}
@media screen and (max-width:1300px) and (min-width:768px){
  .forRwd{
    flex-direction: column;
    align-items: flex-start;
}
.price{
    text-align: start;
}
.priceQty{
    min-width: 90%;
}
.prodname{
    margin-bottom: 16px;
}
.subtotal{
    margin-left: auto;

}
}

@media screen and (max-width:767px){
.checkbox{
    margin-right: 8px;
}
.prodimg{
    width: 60px;
    margin-right: 8px;
}
.forRwd{
    flex-direction: column;
    align-items: stretch;
}
.subtotal{
    margin-left: auto;
    font-size: var(--pfs14);
}
.priceQty{
    min-width: 90%;
}
.prodname{
    margin-bottom: 16px;
}
.price{
    text-align: start;
    margin-right: 8px;
    font-size: var(--pfs14);
}
.numberstyle{
    max-width: 60px;
    font-size: var(--pfs14);
}
.prodtitle{
    font-size: var(--pfs16);
}
.prodSubtitle{
    font-size: var(--pfs14);
}
}