.coupon{
  width: 45%;
  height: 120px;
  background-color: #fff;
  border-radius: var(--br10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
}

.couponDisale{
  width: 45%;
  height: 120px;
  background-color: #fff;
  border-radius: var(--br10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 30px;
  opacity: 0.7;
}

.couponTitle,.couponText,.couponExpire{
  margin-bottom: 10px;
}

.couponText{
  width: 95px;
  padding: var(--p8) 0;
  border-radius: var(--br8);
  text-align: center;
}

.couponTitle{
  color: var(--main);
  font-size: var(--h4fs24);
  padding-top: 10px;
}

.couponExpire{
  display: flex;
  color: var(--gray);
	font-size: var(--pfs14);
}

@media screen and (max-width:1400px){
  .couponExpire{
    display: block;
}
}

@media screen and (max-width:1300px) and (min-width:501px){
  .coupon,.couponDisale{
      width: 80%;
  }
  .couponExpire{
    display: flex;
}

  }
  
@media screen and (max-width:500px){
  .coupon,.couponDisale{
    width: 100%;
}
.couponExpire{
  display: flex;
}

}