.history_box {
  width: 5%;
  background-color: rgba(255, 255, 255, 0.709);
  border-radius: var(--br10);
  padding-top: var(--p16);
  position: fixed;
  top: 35%;
  left: calc(((100% - 1920px) / 2) + 1700px);
  text-align: center;
  box-shadow: var(--shadow);
}

.history_title {
  font-size: var(--pfs16);
  padding-bottom: var(--p16);
  border-bottom: 1px solid var(--light-gray);
  letter-spacing: 3px;
}

.history_img {
  position: relative;
  width: 75%;
  margin: var(--p16) auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.history_img:hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.history_img:hover::after {
  content: '再看一次';
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--light2);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--pfs14);
  cursor: pointer;
}
.history_img > img {
  width: 100%;
}

.history_reset {
  font-size: var(--pfs16);
  padding: var(--p16) 0;
  border-top: 1px solid var(--light-gray);
}

.history_reset:hover {
  background-color: var(--light1);
  cursor: pointer;
}

@media screen and (max-width: 1920px) {
  .history_box {
    left: 97%;
    top: 50%;    
    transform: translate(-100%,-50%);

  }

  .history_box {
    width: 100px;
  }
}

@media screen and (max-width: 767px){
    .history_box{
        display: none;
    }
}