
    /*蒐藏商品*/
    .like_item{
    height:120px;
    display: flex;
    align-items: center;
    padding: var(--p16);
    border-bottom: 0.5px solid var(--light-gray);
    }

    .like_item:hover{
        background-color: var(--light2); 

    }

    /*垃圾桶*/
  .trash_icon{
    font-size:var(--h5fs20) ;
    color:var(--light-gray);
    margin-right: var(--p16);

  }

  .trash_icon:hover{
    color:var(--gray);
    cursor: pointer;
  }

  /*照片*/
  .like_img{
   height:100px;
   border:1px solid var(--light-gray);
   border-radius: var(--br8);
   overflow: hidden;
   margin-right: var(--p16);
   cursor: pointer;
  }

  .like_img>img{
    height: 100%;
  }

  /*收藏的內文*/

  .like_content_box{
    /* height:80%; */
    height: 100%;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .like_title{
    font-size: var(--h6fs18);
    font-weight: var(--fwbold);
    line-height: 1.4;
    flex:1;
  
  }

  .like_detail{
    font-size:var( --h6fs18) ;
    /* font-weight: var(--fwbold); */
  }


  @media screen and (max-width:767px){

        /*照片*/
      .like_img{
        height:80px;

      }

       /*收藏的內文*/
      .like_title{
        font-size: var(--pfs16);
        line-height: 1.2; 
      }

      .like_detail{
        font-size:var( --pfs16) ;
      }
   
  }