.signCard{
  position: relative;
  width: 42%;
  padding: 10px 0;
  /* height: 650px; */
  box-shadow: var(--shadow);
  border-radius: var(--br20);
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  /* border: 1px solid red; */
  max-width: 700px;
  min-width: 325px;
}

.title{
  font-size: var(--h1fs36);
  color: var(--dark);
  font-weight: var(--fwbold);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.drowTree{
  position: absolute;
  bottom: 0;
  left: -50px;
}

.drowDog{
  position: absolute;
  bottom: 0;
  right: -80px;
}

@media screen and (max-width:1500px) and (min-width:769px){
	.signCard{
    width: 60%;
  }
	
	}
	@media screen and (max-width:768px){
    
  .signCard{
    width: 70%;
  }

    .drowTree,.drowDog{
      display: none;
    }
	}