.signCard{
  position: relative;
  width: 800px;
  height: 650px;
  box-shadow: var(--shadow);
  border-radius: var(--br20);
  margin: 0 auto;
  margin-top: -100px;
  background-color: #fff;
  border: 1px solid red;
}

.title{
  font-size: var(--h1fs36);
  color: var(--dark);
  font-weight: var(--fwbold);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.drowTree{
  position: absolute;
  bottom: 0;
  left: -50px;
}

.drowDog{
  position: absolute;
  bottom: 0;
  right: -80px;
}

