.signCard{
  position: relative;
  width: 56%;
  padding: 10px 0;
  /* height: 650px; */
  box-shadow: var(--shadow);
  border-radius: var(--br20);
  margin: 0 auto;
  margin-top: -5%;
  background-color: #fff;
  border: 1px solid red;
}

.title{
  font-size: var(--h1fs36);
  color: var(--dark);
  font-weight: var(--fwbold);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.drowTree{
  position: absolute;
  bottom: 0;
  left: -50px;
}

.drowDog{
  position: absolute;
  bottom: 0;
  right: -80px;
}

@media screen and (max-width:767px){
  .signCard{
    width: 325px;
    margin-top: 0;
  }

  .drowTree,.drowDog{
    display: none;
  }
}