.jill_h1 {
  font-size: var(--h1fs36);
  font-weight: var(--fwbold);
  color: var(--dark-gray);
}
.jill_h2 {
  font-size: var(--h4fs24);
  font-weight: var(--fwbold);
  padding-bottom: var(--p8);
  margin-bottom: 28px;
  margin-top: 80px;
  color: var(--dark-gray);
}

.jill_h2_notion {
  font-size: var(--h4fs24);
  font-weight: var(--fwbold);
  padding-bottom: var(--p8);
  margin-bottom: 28px;
  color: var(--dark-gray);
}

.information {
  line-height: 1.5;
  margin-bottom: 24px;
  text-align: justify;
  font-size: var(--pfs16);
}

.information_detail {
  font-size: var(--pfs16);
  line-height: 1.5;
}
.information_detail_map{
  font-size: var(--pfs16);
  line-height: 1.5;
  cursor: pointer;
}

.bgc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  padding-top: var(--p8);
  padding-bottom: var(--p8);
}

.abc {
  background-color: var(--lightBrown);
}

.rest_image {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.rest_image_group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-radius: var(--br10);
  gap: 20px;
}

.rest_image_single {
  overflow: hidden;
  cursor: pointer;
}
.rest_image_single img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  object-position: top center;
}
.rest_image_main {
  /* background-color: var(--secondary); */
  border-radius: 10px;
  width: 100%;
  height: 420px;
  overflow: hidden;
}

.rest_image_main img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: top center;
}

.rest_image_single {
  width: 60%;
  margin-top: 16px;
  /* background-color: var(--secondary); */
  border-radius: 8px;
  height: 100px;
}

.rest_image_single_active{
  width: 60%;
  margin-top: 16px;
  background-color: var(--secondary);
  border-radius: 8px;
  height: 100px;
  border: 3px solid rgb(255, 123, 0); 
}

.rest_detail {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 40px;
  margin-top: 40px;
}

.rest_info {
  margin-left: 32px;
  width: 50%;
  display: flex;
  flex-direction: column;
 justify-content: space-between;
}
.contact {
  display: flex;
  align-items: center;
}
.contact_time{
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.contact_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 28px;
}
.contact_location{
  display: flex;
  align-items: center;
}
.info_icon {
  color: var(--main);
  margin-right: 10px;
  font-size: var(--pfs16);
}

.column{
  display: flex;
align-items: center;
}
.row{
align-items: center;
display: flex; 
}
.notion_bgc {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--lightBrown);
}

.notion_frame {
  border: 2px solid var(--secondary);
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  font-size: var(--pfs16);
  line-height: 2;
}

.CloudTop {
  height: 70px;
  overflow: hidden;
  position: relative;
}
.cat_section {
  position: relative;
}

.catImage {
  position: absolute;
  right: -8%;
  top: 20%;
  transition: top 0.8s; 
}

.jumpingCat {
  position: absolute;
  right: -8%;
  top: -180px; 
  transition: top 0.8s;
}
.service, .rule{
  width: 100%;
}
.service_kind{
  display: flex;
  gap: 32px;
}
.try{
  display: flex;
  justify-content: space-between;
}
/* .comment_cards {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 110px;
  padding-bottom: 30px;
  margin-top: 30px;
  overflow-y: auto;
} */
.detail_main_buttom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* 將按鈕推到最下面 */

}

.detail_main_buttom > button{
  flex: 1;
  margin-left: 16px; 
}

.detail_main_buttom > button:first-child {
  margin-left: 0px;
}
/* 輪播菜單*/

.overlay {
  z-index: 999;
  background: rgba(49, 49, 49, 0.6);
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.bread_btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--p16);
  padding-bottom: 16px;
}
.slider {
  position: relative;
  /* height: 600px; */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.image {
  width: 1400px;
  height: auto;
}

.right_arrow {
  color: white;
  position: absolute;
  right: 5%;
  font-size: 2.75rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
  transition: 0.6s;
}

.right_arrow:hover{
    opacity: 1;
}

.left_arrow:hover{
    opacity: 1;
}

.left_arrow {
  color: white;
  position: absolute;
  left: 5%;
  font-size: 2.75rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
}
.star{
  color: var(--main);
  padding-right: 6px;
  padding-left: 8px;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.avg{
  font-size: var(--h6fs18);
  display: flex;
}
.comment_title{
  font-weight: 600;
  color: var(--dark);
}
.slide_active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}


.selected {
  border: 1px solid black;
}

.section_rating{
  display: flex;
  padding-bottom: 20px;
  gap: 24px;
}

.arrow_down{
  margin-left: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.arrow_down:hover{
  color: var(--main);
}
/* 營業時間 */
.dropdown_wrapper {
  position: absolute;
  top: 100%;
  left: 0%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
  user-select: none;
  margin-top: 8px;
  margin-left: 26px;
  animation: 0.3s businessHour ease-in-out;
}

@keyframes businessHour {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.dropdown_overlay{
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: -1;
}
.business_time{
  padding: 10px 20px;
}
.business_time:nth-child(1){
  margin-top: 10px;
}
.business_time:nth-child(7){
  margin-bottom: 10px;
}


/* 評價區 */
.comment_section {
  overflow-y: auto;
}

.comment_title {
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
  margin: 48px 0 12px 0;
}

.comment_title > p {
  font-size: var(--pfs16);
}

.comment_btns {
  margin-top: 20px;
}

.comment_btn {
  padding: var(--p8) 10px;
  margin-right: 16px;
  border-radius: var(--br10);
  border: 0;
  font-size: var(--pfs16);
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--gray);
  transition: 0.3s;
}

.comment_btn:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.active_comment_btn,
.active_detail_spec_btn {
  border: 1px solid var(--main);
  color: var(--main);
}

.warning_detail_spec_btn {
  border: 1px solid red;
}

.comment_cards_box {
  width: 100%;
  margin-top: 16px;
  overflow: hidden;
}

.rest_container_inner {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.comment_cards {
  display: flex;
  flex-wrap: nowrap;
  padding: 30px 0;
  position: relative;
}

.show_full_comment_card {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.6);
  z-index: 999;
}
.bgc_comment_card{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
}
.comment_card_display {
  position: absolute;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 0;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
  z-index: 1001;
}


.left_arrow_box,
.right_arrow_box,
.detail_left_arrow_box,
.detail_right_arrow_box {
  position: absolute;
  font-size: var(--h5fs20);
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
}
.detail_left_arrow_box {
  left: -80px;
}
.detail_right_arrow_box {
  top: 0px;
  right: -80px;
  width: 120px;
  background-image: linear-gradient(to left, #f7ece3 80%, transparent);
  display: flex;
  justify-content: flex-end;
}
.full_right_arrow_box {
  background-image: none;
  width: auto;
  right: -5%;
  z-index: 999;
}
.comment_right_arrow_box {
  background-image: linear-gradient(to left, #fffaf6 80%, transparent);
}
.full_right_arrow_box {
  background-image: none;
  width: auto;
  right: -5%;
  z-index: 999;
}
.left_arrow,
.right_arrow {
  max-width: var(--h4fs24);
  max-height: var(--h4fs24);
  opacity: 0.6;
  padding: 12px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.left_arrow:hover,
.right_arrow:hover {
  opacity: 1;
}
.test{
  animation: 0.5s showCard ease-in-out;
}
.no_pages {
  height: 15px;
}

.recommend_pages,
.shop_new_pages {
  display: flex;
  justify-content: center;
  padding: var(--p32) 0 112px 0;
}

.sliders_pages_bttn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px;
  border-radius: var(--br10);
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  cursor: pointer;
}

.sliders_pages_active {
  background-color: var(--secondary);
}

@keyframes showCard {
  0% {
    opacity: 0.5;
    /* transform: translateY(-10px); */
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    /* transform: translateY(0px); */
    transform: scale(1);
  }
}
/* 貓咪跳躍 */

/* 分享網頁 */
.clone{
  cursor: pointer;
  font-size: 28px;
  transition: 0.5s;
  opacity: 0.8;
}
.clone:hover{
  color: var(--main);
}
.title_share{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.share{
  font-size: 24px;
}
.share_box{
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.share_icons{
  display: flex;
  align-items: center;
  gap: 12px;
}
.share_title{
  margin-right: 12px;

}
.google_map{
  margin-left: 6px;
  cursor: pointer;
  border:  1px solid var(--light-gray); 
  background-color: white;
  border-radius: 4px;
  padding: 4px 6px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.google_map img{
  width: 20px;
  height: 20px;
}
.google_map:hover{
  background-color: var(--light1);
}
.line{
  cursor: pointer;
  color: #06c755;
  font-size: 24px;
  transition: 0.3s;
}
.line:hover{
  opacity: 0.7;
}
.fb{
  cursor: pointer;
  color: rgb(24, 119, 242);
  font-size: 27px;
  transition: 0.3s;
}
.fb:hover{
  opacity: 0.7;
}
.x_twitter{
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: 0.3s;
}
.x_twitter:hover{
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .breadcrumb{
    display: none;
  }
  .try{
    flex-direction: column;
  }
  .share_box{
    padding-top: 30px;
  }
    .left_arrow_box,
    .right_arrow_box,
    .slider_right_arrow_box,
    .detail_left_arrow_box,
    .detail_right_arrow_box {
      display: none;
    }
  .jill_h1 {
    font-size: var(--h4fs24);
  }
  .jill_h2 {
    font-size: var(--h5fs20);
    padding-bottom: var(--p8);
    padding-top: 0;
    margin-bottom: var(--p8);
    margin-top: 40px;
  }

  .notion_frame {
    border-radius: 12px;
    padding: 24px;
    font-size: var(--pfs14);
    line-height: 1.8;
  }
  .cat_section img{
    display: none;
  }
  .rest_image_main {
    border-radius: 8px;
    width: 100%;
    height: 240px;
  }
  .rest_detail {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .information {
    font-size: var(--pfs14);
  }
  .information_detail {
    font-size: var(--pfs14);
  }
  .information_detail_map{
    font-size: var(--pfs14);
  }
  .rest_image {
    width: 100%;
    margin-bottom: 20px;
  }
  .rest_info {
    width: 100%;
    margin-left: 0;
    font-size: var(--pfs14);
  }
  .rest_image_group {
    display: none;
  }
  .contact_group {
    gap: 8px;
    margin-bottom: 0;
  }

  .icon_btn {
    margin-top: 20px;
  }
  .notion_bgc {
    padding-top: 60px;
  }
  .comment_cards {
    flex-direction: column;
  }
  .bgc {
    justify-content: flex-end;
  }
  .detail_main_buttom {
    margin-top: 32px;
    flex-wrap: wrap;
    padding-bottom: 10px;
  }

  /* .detail_main_buttom > button {
    flex: 0 0 48%;
    margin-right: 0px;
  } */

  .detail_main_buttom > button:last-child {
    margin-top: 16px;
    margin-left: 0;
    flex: 0 0 100%;
  }
  .section_rating{
    flex-direction: column;
    padding-bottom: 20px;
    gap: 20px;
  }
  .avg{
    font-size: var(--pfs16);
    display: flex;
    justify-content: space-between;
  }
  .google_map{
    margin-right: 0;
    margin-top: 12px;
  }
  .column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4px;
  }
  .contact_location{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .row{
    display: flex; 
  }
  /*評論區*/

  .comment_cards {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .comment_btn {
    border-radius: var(--br8);
    font-size: var(--pfs14);
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .comment_title {
    font-size: var(--h5fs20);
  }
  .comment_title > p {
    font-size: var(--pfs14);
  }
  .rest_container_inner {
    width: 85%;
  }
  .recommend_pages {
    visibility: hidden;
    padding: var(--p32) 0 48px 0;
  }
  .copy{
    display: none;
  }
}
