.bgc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--p8);
  padding-bottom: var(--p8);
}
.dates_modal{
  display: flex;
  gap:20px;
  padding-bottom: 120px;
  padding-top: 10px;
  align-items: center;
  text-align: center;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date_date{
  font-size:20px;
  font-weight: 600;
}
.abc {
  background-color: var(--lightBrown);
}

.timetable {
  font-size: var(--h3fs28);
  margin-top: 40px;
  margin-bottom: 40px;
}
.dates_container {
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.arrow_right,
.arrow_left {
  position: absolute;
  font-size: var(--h5fs20);
  cursor: pointer;
  transition: 0.5s all;
}

.arrow_left {
  top: 20%;
  left: -6%;
  z-index: 999;
}
.arrow_right {
  top: 0;
  z-index: 999;
  right: -6%;
}
.arrow_right:hover,
.arrow_left:hover {
  color: var(--main);
}

.dates_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.date {
  width: 100px;
  height: 40px;
  font-size: var(--pfs16);
  display: flex;
  padding: 0 88px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.time_range {
  margin-bottom: 12px;
}

.time_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.column{
  display: flex;
  flex-direction: column;
}
.time_range {
  font-weight: var(--fwbold);
}
