.bgc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 28px;
  padding-bottom:28px;
  margin-bottom: 20px;
}
.dates_modal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* gap: 22px; */
  padding-bottom: 120px;
  padding-top: 28px;
  align-items: center;
  text-align: center;
}

/* .btn_group > button {
  border: 0;
  border: 2px solid transparent;
  background-color: var(--secondary);
  padding: 8px 16px;
  padding-top: 10px;
  border-radius: 8px;
  transition: 0.4s;
  cursor: pointer;
} */
.last_week{
  border: 0;
  border: 2px solid transparent;
  background-color: var(--main);
  padding: 8px 16px;
  padding-top: 10px;
  border-radius: 8px;
  transition: 0.4s;
  cursor: pointer;
  margin-left: 12px;
}
.last_week:hover{
  background-color: #ff6f16;
}
.next_week:hover{
  background-color: #ff6f16;
}
.no_last_week{
  border: 0;
  border: 2px solid transparent;
  background-color: var(--secondary);
  padding: 8px 16px;
  padding-top: 10px;
  border-radius: 8px;
  transition: 0.4s;
  margin-left: 12px;

}
.next_week{
  border: 0;
  border: 2px solid transparent;
  background-color: var(--main);
  padding: 8px 16px;
  padding-top: 10px;
  border-radius: 8px;
  transition: 0.4s;
  cursor: pointer;
  margin-left: 12px;
}

.no_next_week{
  border: 0;
  border: 2px solid transparent;
  background-color: var(--secondary);
  padding: 8px 16px;
  padding-top: 10px;
  border-radius: 8px;
  transition: 0.4s;
  margin-left: 12px;

}

.line{
  height: 4px;
  border-bottom: 2px dashed var(--secondary);
  
}
.calendar{
  margin-right: 10px;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed var(--secondary);
  /* border-bottom: 2px dashed var(--light-gray); */
}

.date_date {
  font-size:18px;
  font-weight: 600;
  user-select: none;
}
.abc {
  background-color: var(--lightBrown);
}

.timetable {
  font-size: var(--h3fs28);
  font-weight: 600;
  margin-top: 28px;
  margin-bottom: 28px;

}
.arrow_right,
.arrow_left {
  position: absolute;
  font-size: var(--h5fs20);
  cursor: pointer;
  transition: 0.5s all;
}

.arrow_left {
  top: 20%;
  left: -6%;
  z-index: 999;
}
.arrow_right {
  top: 0;
  z-index: 999;
  right: -6%;
}
.arrow_right:hover,
.arrow_left:hover {
  color: var(--main);
}

.dates_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.date {
  width: 100px;
  height: 40px;
  font-size: var(--pfs16);
  display: flex;
  padding: 0 88px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.time_range {
  margin-bottom: 12px;
}

.time_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
}

.column {
  display: flex;
  flex-direction: column;
}
.time_range {
  font-weight: var(--fwbold);
}
