.jill_h1{
    font-size: var(--h3fs28);
    font-weight: var(--fwbold);
    color: var(--dark-gray);
}
.jill_h2{
    font-size: var(--h4fs24);
    font-weight: var(--fwbold);
    padding-bottom: var(--p16);
    color: var(--dark-gray);
}
.information{
    line-height: 1.2;
    margin-bottom: 24px;
    text-align: justify;
}
.bgc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abc{
    background-color: var(--lightBrown);
}
.rest_image{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}


.rest_image_group{
    background-color: gray;
    height: 500px;
    width: 100%;
    border-radius: var(--br10);
}
.rest_detail{
    display: flex;
    margin-bottom: 40px;
}
.rest_info{
    padding: var(--p16);
    width: 50%;
    display: flex;
    flex-direction: column;
}
.contact{
    display: flex;
}
.rest_group_btn{
    display: flex;
    gap: 16px;
    justify-content: space-between;

}
.contact_group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.feature_card{
    display: flex;
    background-color: white;
    border-radius: var(--br10);
    align-items: center;
    margin-bottom: 100px;
}

.feature_card img{
    width: 100%;
    border-radius: var(--br10);
    background-color: var(--lightBrown);
}
.feature_info{
    width: 100%;
    padding: 0 var(--p24);
}

.feature_decorate{
    width: 100%;
    border-radius: var(--br10);
    background-color: var(--secondary);
    border-radius: 12px;
    border-bottom: 6px solid var(--secondary);
    border-right: 8px solid var(--secondary);
}
.activity_date{
    display: flex;
    color: var(--dark);
    font-weight: var(--fwbold);
    margin-bottom: 20px;
}

.notion_bgc{
    background-image: url('../../public/rest_image/notion_bgc.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 400px;
    padding-bottom: 400px;
}
