.jill_h2{
    font-size: var(--h4fs24);
    font-weight: var(--fwbold);
    padding-bottom: var(--p16);
}
.paw_icon{
    color: var(--dark);
}
.jill_h4{
    font-size: var(--h6fs18);
}
.second_area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 40px 0;
}

.filter{
    border-radius: 8px;
    padding: 12px var(--p16);
}

.filter_bgc{
    background-color: var(--lightBrown);
    padding-bottom: 60px;   
}
.loaction_search{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 20px;
}
.meal_date{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 20px;
    margin-top: 20px;
}

.date{
    border-radius: 8px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    width: 50%;
}

@media screen and (max-width:767px){
    .jill_h2{
        font-size: var(--h6fs18);
        padding-bottom: var(--p8);
    }
    .second_area{
        margin: 32px 0;
    }
    .filter{
        padding: var(--p8) 12px;
    }
    }