.city_section {
  display: flex;
  justify-content: space-between;
}

.dog_print {
  z-index: 99;
  /* top: 0%;
  left:  100%; */
}
.pad {
  width: 10px;
  height: 12px;
  background-color: var(--dark);
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  display: block;
  position: absolute;
}
.large {
  width: 24px;
  height: 24px;
  transform: rotate(80deg);
  left: 100px;
  top: 50px;
}
.small_1 {
  transform: rotate(50deg);
  left: 110px;
  top: 32px;
}
.small_2 {
  transform: rotate(65deg);
  left: 128px;
  top: 40px;
}
.small_3 {
  transform: rotate(98deg);
  position: absolute;
  left: 132px;
  top: 58px;
}
.small_4 {
  transform: rotate(140deg);
  position: absolute;
  left: 120px;
  top: 72px;
}

.paw_print_1 {
  opacity: 0;
  position: absolute;
  left: 1640px;
  top: 280px;
  transform: rotate(-36deg);
  -webkit-animation: walk 3s linear infinite;
  animation: /*keyframe*/ walk /*duration*/ 3s /*transition*/ linear /*repeat*/
    infinite;
}

.paw_print_2 {
  opacity: 0;
  position: absolute;
  left: 1655px;
  top: 130px;
  transform: rotate(-10deg);
  -webkit-animation: walk 3s linear infinite 0.25s;
  animation: walk 3s linear infinite /*delay*/ 0.25s;
}
.paw_print_3 {
  opacity: 0;
  position: absolute;
  left: 1725px;
  top: 180px;
  transform: rotate(-10deg);
  -webkit-animation: walk 3s linear infinite 0.5s;
  animation: walk 3s linear infinite 0.5s;
}

.paw_print_4 {
  opacity: 0;
  position: absolute;
  left: 1755px;
  top: 100px;
  transform: rotate(-10deg);
  -webkit-animation: walk 3s linear infinite 0.5s;
  animation: walk 3s linear infinite 0.5s;
}

/* walking effect animation keyframes */
@-webkit-keyframes walk {
  25% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes walk {
  /* appear */
  25% {
    opacity: 1;
  }
  /* disappear */
  100% {
    opacity: 0;
  }
}

.jill_h1 {
  font-size: var(--h1fs36);
  font-weight: var(--fwbold);
  padding-bottom: var(--p32);
  color: #fff;
}

.search {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  background-image: url('../../public/rest_image/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.banner img {
  height: 120px;
  object-fit: cover;
  object-position: top center;
}



.jill_h2 {
  font-size: var(--h4fs24);
  font-weight: var(--fwbold);
  padding-bottom: var(--p16);
}
/* .city_group{
    display: flex;
    height: 1000px;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 84px;
} */
.bgc {
  background-color: var(--lightBrown);
}
.function_group {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: var(--p16);
  padding-bottom: 16px;
}

.function_group > * {
  margin-right: 16px;
}

.function_group > *:last-child {
  margin-right: 0;
}
.friendly_group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
}
.filter {
  border-radius: 8px;
  padding: 12px 20px;
}

.filter_box {
  padding-bottom: 80px;
}
.line {
  border-bottom: 1px solid var(--gray);
  opacity: 0.5;
  margin-top: 2px;
}
.filter_btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  height: 50px;
}
.filter_btns > button {
  margin-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 100%;
  text-align: center;
}
.filter_btns > button:last-child {
  margin-right: 0;
}

.friendly_img {
  height: 140px;
  width: 140px;
  background-color: #ffd4c0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
  border-radius: 50%;
}
.explore_title {
  display: flex;
  align-items: center;
  margin-bottom: var(--p32);
  margin-top: var(--p16);
}

.title_icon {
  font-size: var(--h1fs36);
  color: var(--main);
  padding-right: var(--p16);
  margin-bottom: 20px;
}

.box {
  position: relative;
  width: 100%;
  height: 164px;
  background-image: url('../../public/rest_image/friendly/friendly.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box img {
  position: absolute;
}

.cloud_bgc {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--lightBrown);
}
.middle_bgc {
  padding-bottom: 80px;
}

.CloudTop {
  height: 70px;
  overflow: hidden;
  margin-top: var(--p32);
}
.hot_card_group {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 50px;
}
.space {
  margin-top: 60px;
}
.hot_card {
  flex: 0 0 33.33%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}
.friendly_card {
  flex: 0 0 33.33%;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
}

.friendly_card_group {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 80px;
}

.card_width {
  width: 400px;
}
.hot_card_group::-webkit-scrollbar {
  display: none;
}

.friendly_card_group::-webkit-scrollbar {
  display: none;
}
/* 地區樣式 */
.location_search_area {
  margin: 48px 12px 48px 0px;
  display: flex;
}

.location_search_area > div > p {
  font-size: var(--h6fs18);
}
.category_area {
  display: flex;
  align-items: center;
}
.labels {
  font-size: var(--h6fs18);
  font-weight: var(--fwbold);
  height: 100%;
  line-height: 50px;
  width: 110px;
  margin-right: 16px;
}

.paw {
  font-size: var(--h6fs18);
  color: var(--dark);
  margin-right: 10px;
}

.city {
  width: 200px;
}
.dropdowns{
  display: flex;
  gap: 16px;
}
.dropdown_arrow {
  margin-right: 100px;
}
.section {
  width: 200px;
}

@media screen and (max-width: 767px) {
  .jill_h1 {
    font-size: var(--h5fs20);
    padding-bottom: var(--p16);
  }
  .banner {
    height: 220px;
  }
  .jill_h2 {
    font-size: var(--h6fs18);
    padding-bottom: var(--p8);
  }
  .card {
    position: relative;
    width: 80%;
  }
  .title_icon {
    font-size: var(--h6fs18);
    padding-right: var(--p8);
  }
  .hot_card {
    width: calc(100% + 360px);
  }
  .hot_card_group::-webkit-scrollbar {
    display: none;
  }

  .explore_title {
    margin-bottom: var(--p8);
    margin-top: var(--p32);
  }
  .cloud_bgc {
    padding-top: 40px;
    padding-bottom: 100px;
  }
  .space {
    margin-top: 0;
  }
  .function_group {
    display: flex;
    justify-content: space-between;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: var(--p8);
    padding-top: var(--p8);
  }
  .function_group > * {
    margin-right: 0px;
  }
  .filter_btns {
    margin-top: 60px;
  }
  .filter {
    padding: var(--p8) 12px;
  }
  .filter_btns > button {
    margin-right: 16px;
    padding-top: 0;
    width: 100%;
    padding-bottom: 0;
    line-height: 100%;
    text-align: center;
  }
  .filter_box {
    margin-top: 0px;
    padding-bottom: 50px
  }
  .category_area {
    width: 100%;
    padding-bottom: 16px;
  }
  .location_img {
    height: 88px;
    width: 88px;
    margin-bottom: 6px;
  }
  .city {
    margin-bottom: 6px;
    width: 330px;
    margin-right: 0 ;
  }
  .section {
    width: 330px;
  }
  .location_search_area {
    flex-direction: column;
    width: 100%;
    margin: 0;
  }

  .location_name {
    font-size: var(--pfs12);
  }
  .dropdowns {
    width: 100%;
    display: flex;
  }
  .dropdown_arrow {
    margin-right: 70px;
  }
  .hot_card_group {
    padding-bottom: 0;
  }
  .hot_card {
    flex: 0 0 60%; /* 將卡片的寬度設置為一個半的寬度 */
  }
  .friendly_card {
    flex: 0 0 60%; /* 將卡片的寬度設置為一個半的寬度 */
  }
}
