.modal {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
  background: rgba(49, 49, 49, 0.6);
}
.modal_card {
  position: absolute;
  width: 30%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 14px 0;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
  animation: 0.5s card ease-in-out;
}

@keyframes card {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

.box{
    width: 100%;
    height: 200px;
    text-align: center;
    position: relative;
}

.box img:first-child{
    position: absolute;
    bottom:14px;
    left: 32px;
    opacity: 0.9;
    animation: 0.5s successLeft ease-in-out;
}

@keyframes successLeft {
    0% {
      opacity: 0.5;
      left:0;
      bottom:0;
      transform: scale(0.85) ;
    }
    100% {
      opacity: 1;
    }
  }

.box img:last-child{
    position: absolute;
    bottom:14px;
    right: 32px;
    opacity: 0.9;
    transform:rotateY(180deg) ;
    animation: 0.5s successRight ease-in-out;
}

@keyframes successRight {
    0% {
      opacity: 0.5;
      right:0;
      bottom:0;
      transform:rotateY(180deg) scale(0.85);
    }
    100% {
      opacity: 1;
      transform:rotateY(180deg);
    }
  }

.modal_content{
    position: absolute;
    font-size: var(--h4fs24);
    font-weight: var(--fwbold);
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.active{
  top:40%;
}

.modal_content2{
  position: absolute;
  font-size: var(--h4fs24);
  font-weight: var(--fwbold);
  top:60%;
  left:50%;
  transform: translate(-50%,-50%);
}


@media screen and (max-width: 767px) {
  .modal_card {
    width: 80%;
    top: 48%;
    max-width: 600px;
    min-width: 350px;
  }

  .modal_content{
    font-size: var(--h6fs18);
}
  
}