.hash_tag{
	background-color: var(--light1);
	padding: var(--p8) var(--p16);
	border-radius: 20px;
	margin-right: 12px;
	display: inline-block;
	color: var(--dark-gray);
	background-color: var(--light1);
	padding: var(--p8) var(--p16);
	border-radius: 20px;
	margin-right: 12px;
	display: inline-block;
	color: var(--dark-gray);
	margin-top: 8px;
}

@media screen and (max-width:767px){
	.hash_tag{
			padding: var(--p8);
			margin-top: 6px;
			border-radius: 16px;
			margin-right: 4px;
			font-size: 12px;
	}
	}
