.like_list_bgc {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.6);
  z-index: 999;
}
.arrow {
  font-size: 20px;
  padding-left: 12px;
  cursor: pointer;
}
/*蒐藏列表外框*/
.like_list_box {
  width: 550px;
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  height: 100vh;
  bottom: 0;
  position: fixed;
  /* transform:translateX(-110%);     */
  border: 1px solid var(--light-gray);
  background-color: white;
  box-shadow: var(--shadow);
  animation: open 0.25s ease-in-out 1;
}
@keyframes open {
  0% {
    right: -550px;
  }
  100% {
    right: 0px;
  }
}

.like_items {
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 94vh;
}

/* 卷軸 */
.like_items::-webkit-scrollbar {
  width: 10px;
  height: 100%;
}

/* 不是目前位置的剩下卷軸 */
.like_items::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--light-gray);
  border-radius: var(--br10);
}

/* 目前位置的卷軸 */
.like_items::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: var(--br10);
}

.like_items::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 35, 27, 0.5);
}

/*沒有收藏時...*/
.no_like_item {
  height:calc(100vh - 80px);
  font-size: var(--h5fs20);
  font-weight: var(--fwbold);
  line-height: calc(100vh - 200px);
  text-align: center;
  padding: var(--p16);
  background-image: url('../../../assets/trees.svg');
  background-repeat: no-repeat, repeat;
  background-position: right bottom;
}
.clean_all {
  padding-right: 20px;
  font-size: var(--h6fs18);
  text-decoration: underline;
  cursor: pointer;
}
.btns {
  border-bottom: 1px solid var(--light-gray);
  padding: var(--p16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.btns > button {
  padding-top: 14px;
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 14px;
  line-height: 100%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .like_list_box {
    width: 90%;
    margin-left: 18px;
    border-radius: var(--br8);
  }

  .like_items {
    max-height: 10000px;
    display: block;
  }
  /* 卷軸 */
  .like_items::-webkit-scrollbar {
    display: none;
  }

  /*沒有收藏時...*/
  .no_like_item {
    font-size: var(--pfs16);
  }
  .clean_all{
    font-size: 16px;
    padding-right: 4px;
  }
  .arrow {
    padding-left: 4px;
  }
}
