.like_list_bgc{
  /* width: 100vw;
  height: 100vh; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.6));
  z-index: 999;
}


/*蒐藏列表外框*/
    .like_list_box{
    width:550px;   
    position: absolute;
    z-index: 9999;
    margin-top:18px;
    left:100%;
    transform:translateX(-110%);    
    border:1px solid var(--light-gray);
    border-radius: var(--br10);
    background-color: white;
    box-shadow: var(--shadow);
    }

    .like_items{
      overflow-x: hidden;
      overflow-y: scroll; 
      /* max-height:758px; */
      max-height:500px;
    }


  /* 卷軸 */
  .like_items::-webkit-scrollbar {
    width: 14px;
  }
  
  /* 不是目前位置的剩下卷軸 */
  .like_items::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--light-gray); 
    border-radius: var(--br10);
  }
   
  /* 目前位置的卷軸 */
  .like_items::-webkit-scrollbar-thumb {
    /* background: rgb(95, 35, 27,0.3);  */
    background-color: var(--secondary);
    border-radius: var(--br10);
  }

  .like_items::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 35, 27,0.5);
  }  
  

  /*沒有收藏時...*/
    .no_like_item{
      height:120px;
      font-size: var(--h5fs20);
      font-weight: var(--fwbold);
      line-height: 100px;
      text-align: center;
      padding: var(--p16);
      background-image: url('../../../assets/trees.svg');
      background-repeat: no-repeat, repeat;
      background-position:right bottom
    }

   
  .btns{
    border: 1px solid var(--light-gray);
    padding: var(--p16);
    display: flex;
    justify-content: space-between;
  }


  @media screen and (max-width:767px){
    .like_list_box{
      width:90%;
      margin-left: 18px;  
      border-radius: var(--br8); 
      }
  
  
      .like_items{
        max-height:10000px;
        display: block;
      }
      /* 卷軸 */
      .like_items::-webkit-scrollbar {
        display: none;
      }

        /*沒有收藏時...*/
      .no_like_item{
        font-size: var(--pfs16);

      }

        
   
  }