.footer{
  position: absolute;
	bottom: 0;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-color: var(--light1);
}

.footerInfo{
  width: 1280px;
}

.logoInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.logo{
  width: 100px;
}

.linkMenu{
  display: flex;
  width: 300px;
  /* flex-grow: 1; */
}

.linkItem {
  width: 25%;
  height: 35px;
  display: flex;
  justify-content: right;
  align-items: center;
}



.linkMenu a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  color: var(--dark);
  font-weight: bold;
  letter-spacing: 3px;
}

.copyRight{
  display: flex;
  justify-content: flex-end;
}

.copyRight p{
  margin: 0;
  color: #7A7A7A;
}


@media only screen and (max-width: 767px){
  .footer{
    display: none;
  }
}