.signNavbar{
  position: relative;
  width: 100%;
}

.signNavbarImg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoContainer{
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 6%;
}
@media screen and (max-width:767px){
  .signNavbar{
    display: none;
  }
}