/*狗奔跑的背景圖*/
.head_decoration{
    position: relative;
    margin:64px 0px 0px 0px;
    height: 107px;
}

.head_decoration img:nth-child(2){
    position: absolute;
    left:10%;
    top:0
}

.head_decoration img:nth-child(3){
    /* width:100px; */
    position: absolute;
    right:10%;
    top:-20%

}