/*首頁品牌的背景圖*/
.head_decoration{
    position: relative;
}

.head_decoration img:first-child{
    transform: rotateX(180deg);
}

.head_decoration img:nth-child(2){
    position: absolute;
    left:35%;
    top:20%;
}

.head_decoration img:nth-child(3){
    transform: rotateY(180deg);
    position: absolute;
    right:35%;
    top:10%;
}

.wave_box{
    background-color: var(--lightBrown);
    height: 105px;
}

@media screen and (max-width:767px){
    .head_decoration img:nth-child(2){
        width: 33%;
        left:1%;
        top:20%;
    }
    .head_decoration img:nth-child(3){
        width: 33%;
        right: 5%
    }
}