.banner{
    background-color:#FFFAF6;
    width:100%;
    height:290px;
    margin: 0;
    padding: 0;
    /* position:fixed; */
}
.bannerImg{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center -120px;
    position: relative;
}
.searchArea{
    background-color:var(--lightBrown);
    padding: 0;
    margin: 0;
    /* position:fixed; */

}