.funcBtn{
    background-color: #fff;
    width:210px;
    height:58px;
    border-radius:var(--br20);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:10px;
    margin-top:10px;
}
.funcBtn img{
    width:43px;
    height:43px;
    margin:10px;
}
.funcBtn div{
    color:var(--dark-gray);
    font-size:var(--h4fs24);
}