.totalSection{
    width: 30%;
    margin-left: auto;
    margin-top: 32px;
    padding-right: var(--p16);
    /* border: 1px solid red; */
}
.totalSection span{
font-size: var(--pfs16);

}
.subtotals{
    display:flex;
    margin-bottom: 16px;
}
.amount {
    display: block;
     margin-left: auto;
     color: var(--gray);
}
.total{
    display:flex;
    margin-bottom: 16px;
}
.total span{
     color: var(--main);
     font-weight: bold;
     font-size: var(--h6fs18);
}
.totalamount{
     display: block;
     margin-left: auto;
    
}
@media screen and (max-width:767px){
    .totalSection{
    width: 100%;
}
}