
.productCard{
    display: flex;
    align-items: center;
    padding: var(--p16) 0px;
    border-bottom: 1px dashed var(--secondary);
}

.prodimg{
    width: 80px;
    border-radius: var(--br8);
    margin-right: 16px;
}
.forRwd{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.prodname{
    flex-grow: 1;
    margin-right: 16px;
   
}
.prodtitle{
    font-size: var(--h6fs18);
    margin-bottom: 8px;
}
.prodSubtitle{
    font-size: var(--pfs16);
    color: var(--main);
}
.prodDetail{
  display: flex;
  width: 40%;
  min-width: 200px;;

}
.detailblock{
  width: 35%;

}
.price{
  width: 50%;
  color: var(--gray);
  text-align: end; 
}

.times{
  display: none;
   color: var(--gray);
}
.qty{
  text-align: end;
  color: var(--gray);

  padding-right: var(--p16);
}
.subtotal{
    flex-grow: 1;
    text-align: end;
    width: 40px;
    color: var(--gray);
    font-weight: bold;
}
.qtyblock{
  display: flex;
  justify-content: space-between;

}

@media screen and (max-width:767px){
.forRwd{
    flex-direction: column;
    align-items: flex-start;
}

.prodname{
    margin-bottom: 16px;
}
.price{
    text-align: start;
    margin-bottom: 8px;
    width: 40px;
}
.qty{
  text-align: start;
  padding-left: var(--p8);
  width: 40px;
}
.prodtitle{
    font-size: var(--pfs16);
}
.prodSubtitle{
    font-size: var(--pfs14);
}

.prodDetail{
  display: flex;
  width: 100%;
}
.times{
  display: block;
}
.qtyblock{
   display: flex;
   justify-content: flex-start;
  margin-top: 8px;
}
.detailblock{
  width: auto;
}
}