.photobox{
    position: relative;
    z-index:3;
    width: 90%;

}
.svgclipPhoto{
    width: 97%;
}
.svgclipPhoto svg image {
  transition: opacity 0.5s ease-in-out;
}
.dotsContainer{
    width: 100%;
    padding-top: 40px;
    display: flex;
    justify-content: center;

}
.dot{
    width: 16px;
    height:16px;
    border-radius: 50%;
    background-color: var(--secondary);
    margin-right: 16px;
    transition: all .3s;
    cursor: pointer;
}
.activeDot{
    background-color: var(--main);
}
.bg{
    position:absolute;
    left:-3px;
    top:3px;
    width: 100%;
    z-index: -1;
    padding-left: 20px;
}
.tree1{
    position:absolute;
    left:10px;
    bottom:13%;
    width: 7%;
    transform: rotate(-2deg);
}
.tree2{
    position:absolute;
    right:15px;
    bottom:5%;
    width: 8%;
    transform: rotate(-2deg);
}
@media screen and (max-width:767px){
.photobox{
    padding-left: 0px;
}
.bg{
     padding-left: 0px;
}
} 