.body{
    width:100%;
    /* background-color: #FFFAF6; */
    padding: 0;
    margin-bottom:100px;
    height:100%;
}
.blogContent{
    width:85%;
    background-color: #fff;
    height:1350px;
    position: relative;
}
.antRow{
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
.editBg{
    width: 80px;
    height: 80px;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* position: fixed; */
    left:87%;
    margin-bottom: 30px;
}
.editIcon{
    width:30px;
    height:30px;
    color:#fff;
}
.postContent{
    margin:10px;
    margin-top: 20px;

}
.boardRange{
    width:900px;
    height:100%;
    overflow-y: hidden;
    display:flex;
    /* justify-content: center; */
    margin-left:20px;
  }
.boardRange::-webkit-scrollbar{
display: none;
}
.board{
padding:10px 15px 0 15px;
position: relative;
}
.boardNav{
    /* background-color:#F7ECE3; */
    width:100%;
    height:150px;
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    margin: 0;
  }
.hashtagField{
    width: 100%;
    height:300px;
    background-color: #eea7a7;
}
.title{
    margin:10px 20px 10px 20px;
    width:90%;
}
.titleCenter{
    display: flex;
    justify-content: center;
    padding-left: 30px;
}
.hashtag{
    margin-top: 10px;
    margin-left:85px;
}
.content{
    margin:10px 20px 10px 20px;
    width:90%;
}
.label{
    font-size: 20px;
    margin-left:40px;
    display: flex;
}
.fileLabel{
    font-size: 20px;
    margin-left:30px;
    margin-top: 30px;
    display: flex;
}
.icon{
    padding-top: 5px;
    padding-right: 10px;
}
.file{
    margin-left:80px;
    margin-top: 10px;
}
.btn{
    display: flex;
    margin-left:620px;
    margin-top:40px;
}
.bbb{
    margin-right: 20px;
}
.post{
    position: absolute;
    top:280px;
    height:100%;
}
.rightBlock{
    height:100%;
}
