.wave{
    width:100%;
    object-fit: cover;
    position: absolute;
    top:0;
    
}
.bottomBlock{
    width:100%;
    height:550px;
    background-color:var(--light3);
}
.bottom{
    position: relative;
}
.bottomContent{
    max-width: 65%;
    padding-top: 20px;
    /* border: 1px solid purple; */
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.bottomContent::-webkit-scrollbar{
    display: none;
}
.bottomWord{
    position:absolute;
    top:60px;
    left:18%;
    z-index: 9999;
    font-size: var(--h5fs20);
    font-weight: var(--fwbold);
}
