.secondary_btn{
    padding: var(--p16) 20px;
    border-radius: var(--br10);
    border: 0;
    font-size: var(--pfs16);
    color: white;
    background-color: transparent;
    border: 1px solid white;
    transition: 0.3s;
}
.secondary_btn:hover{
    background-color: var(--light-gray);
    color: var(--gray);
    cursor: pointer;
}


@media screen and (max-width:767px){
    .secondary_btn{
        padding: 0.75rem ;
        border-radius: var(--br8);
        font-size: var(--pfs14);
    }
    }