.body{
    width:100%;
    /* background-color: #FFFAF6; */
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
}
.blogContent{
    width:85%;
    background-color: #fff;
    height:100%;
    position: relative;
    margin-bottom: 100px;
}
.antRow{
    display: flex;
    justify-content: center;
    /* align-items: center; */
  }
.editBg{
    width: 80px;
    height: 80px;
    background-color: var(--secondary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* position: fixed; */
    left:87%;
    margin-bottom: 30px;
}
.editIcon{
    width:40px;
    height:40px;
    color:#fff;
}
.postContent{
    margin:10px
}
.pagination{
    margin:70px 0;
    text-align: center;
  }