.numInputBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: var(--br8);
  font-size: var(--pfs16);
  background-color: transparent;
  border: 1px solid var(--light-gray);
  overflow: hidden;
  text-align: center;
}

.minusBtn,
.addBtn {
  padding: 0 var(--p16);
  border: none;
  font-size: var(--h6fs18);
  background-color: transparent;
  transition: 0.3s;
  color: var(--dark-gray);
}

.minusBtn {
  border-right: 1px solid var(--gray);
}

.addBtn {
  border-left: 1px solid var(--gray);
}

.addBtn:hover,
.minusBtn:hover {
  /* color: var(--main); */
  background-color: var(--light-gray);
  cursor: pointer;
}

.input {
  width: 100%;
  /* min-width: 30px; */
  height: 40px;
  text-align: center;
  border: none;
  outline: none;
  font-size: var(--pfs16);
  color: var(--dark-gray);
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .input {
    height: 36px;
  }
}