.jill_h2{
    font-size: var(--h4fs24);
    font-weight: var(--fwbold);
    padding-bottom: var(--p16);
    color: var(--dark-gray);
}
.information{
    line-height: 1.5;
    margin-bottom: 24px;
    text-align: justify;
}
.feature_card{
    display: flex;
    height: 400px;
    background-color: white;
    border-radius: var(--br10);
    align-items: center;
    margin-bottom: 100px;
}

.feature_card img{
    border-radius: var(--br10);
    background-color: var(--lightBrown);
    position: absolute; 
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
.feature_info{
    width: 90%;
    padding: 0 36px;
}

.feature_decorate{
    position: relative;
    width: 80%;
    height: 400px;
    border-radius: var(--br10);
    background-color: var(--secondary);
    border-radius: 12px;
    border-bottom: 6px solid var(--secondary);
    border-right: 8px solid var(--secondary);
}
.activity_date{
    display: flex;
    margin-bottom: 12px;
    margin-top: 4px;
}
.jill_h3{
    color: #5f231B;
    font-weight: var(--fwbold);
    margin-bottom: 20px;
}

@media screen and (max-width:767px){
    .feature_decorate{
        border-radius: var(--br10);
        background-color: transparent;
        border: none;
        width: 100%;
    }
    
    .feature_info{
        width: 100%;
        padding: 0;
    }
    .feature_card{
        flex-direction: column;
        background-color: transparent;
    }
    .jill_h2{
        margin-top: 20px;
        font-size: var( --h6fs18);
    }
    .jill_h3{
        padding: 0;
    }
    .activity_date{
        flex-direction: column;
    }
    .information{
        margin-bottom: 0px;
    }
    }