.time_range {
  margin-bottom: 12px;
  font-size: 16px;
}
.booking_card {
  box-sizing: border-box;
  background-color: #fff;
  padding: 24px 34px;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--pfs14);
  outline: 2.5px solid transparent;
  /* outline: 1px solid var(--light-gray); */
  border: 1px solid var(--light-gray);
  cursor: pointer;
  user-select: none;
}

.booking_card:hover {
  box-sizing: border-box;
  outline: 1px solid var(--main);
  border: 1px solid var(--main);
  /* outline: 1px solid var(--secondary); 
  border: 1px solid var(--secondary); */
  transition: 0.6s;
}
.no_people_card {
  user-select: none;
  /* background-color:#f5f5f5;  */
  padding: 24px 34px;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--pfs14);
  outline: 1px solid var(--light-gray);
}
.rest_num {
  font-size: 20px;
  font-weight: 600;
  color: var(--main);
  margin: 0 6px;
}

.no_rest_num {
  color: rgb(255, 67, 98);
  font-weight: 600;
  font-size: 20px;
  margin: 0 6px;
}
.time_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.time_range {
  font-weight: var(--fwbold);
}
.rest_people {
  display: flex;
  font-size: 16px;
  align-items: center;
  font-size: 16px;
  opacity: 1;
}

.overlay {
  z-index: 999;
  background: rgba(49, 49, 49, 0.6);
}
/* .modal {
  z-index: 9999;
  font-size: var(--pfs16);
} */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* 使彈跳視窗在最上層 */
}

/* 彈跳視窗內容框 */
.modal_bgc {
  background-color: white;
  width: 24%;
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  padding-bottom: 10px;
  padding-top: 20px;
  border-radius: 10px;
  text-align: center;
}
.detail_info {
  padding: 30px 20px;
}

.success {
  padding-bottom: 20px;
  padding-top: 0px;
  color: #2b9102;
  font-size: 24px;
  font-weight: 700;
  border-bottom: 1px solid var(--light-gray);
}
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}
.filter_btns {
  border-top: 1px solid var(--light-gray);
  display: flex;
  padding-top: 10px;
  justify-content: flex-end;
  height: 56px;
  width: 100%;
}
.filter_btns > button {
  margin-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  width: 20%;
  line-height: 100%;
  text-align: center;
}
.modal_card {
  z-index: 9999;
  font-size: var(--pfs16);
  position: fixed;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  padding: 14px 0;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}

.input_height {
  height: 50px;
  padding: 0;
}

.modal_title {
  font-size: var(--h5fs20);
  font-weight: 600;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(203, 203, 203);
}

.modal_content {
  padding: 24px;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.time {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}
.member {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}
.phone {
  display: flex;
  gap: 24px;
  padding-bottom: 30px;
}
.booking_note {
  display: flex;
  gap: 24px;
  text-align: left;
}
.confirm {
  padding-bottom: 20px;
}
.booking_title {
  font-weight: bold !important;
}

.line {
  height: 1px;
  border-bottom: 1px solid rgb(203, 203, 203);
}

/* 購買數量 */
.detail_title {
  font-size: 16px;
  padding-bottom: 4px;
}
.detail_qty_area {
  display: flex;
  gap: 40px;
}
.detail_people_box,
.detail_pet_box {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  text-align: left;
}

.note {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.note_content {
  margin-bottom: 4px;
}

.note_input {
  height: 40px;
  border-radius: var(--br10);
  padding: 0 12px;
  border: 0;
  outline: 1px solid var(--gray);
}
.note_input:focus {
  border: 0;
  outline: 2px solid var(--gray);
}

.close_modal {
  position: absolute;
  font-size: var(--h6fs18);
  top: 16px;
  right: 20px;
  padding: 5px 7px;
  cursor: pointer;
}

.btn_group {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
  height: 50px;
}

.btn_group > button {
  margin-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 100%;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .modal_card {
    width: 80%;
    top: 48%;
    max-width: 600px;
    min-width: 350px;
  }
  .modal_title {
    font-size: var(--h6fs18);
    padding-bottom: 12px;
  }
  .booking_card {
    padding: 20px 30px;
  }
  .no_people_card {
    padding: 20px 30px;
  }
  .time,
  .phone,
  .member {
    font-size: var(--pfs14);
    text-align: left;
  }

  .detail_qty_area {
    flex-direction: column;
    gap: 0;
  }
  .detail_people_box {
    margin-top: 20px;
    width: 100%;
  }
  .detail_pet_box {
    margin-top: 60px;
  }
  .note {
    margin-top: 20px;
  }
  .btn_group > button {
    margin-right: 0;
    width: 100%;
    line-height: 100%;
  }
  .btn_group {
    gap: 16px;
    justify-content: space-around;
    padding: 0 16px;
  }
  .booking_title {
    text-align: left;
    white-space: nowrap;
  }
  .modal_content {
    padding: 20px;
  }
  .modal_bgc {
    width: 360px;
  }
}
