.comment_card{
    margin-right: 32px;
    padding: var(--p24) var(--p32);
    background-color: white;
    border-radius: var(--br10);
    box-shadow:  2px 6px 8px rgba(0, 0, 0, 0.1);    
    flex:0 0 350px ;
    cursor: pointer;
}

.card_head{
    display: flex;
}


/*用戶照片*/
.card_head>div:first-child{
    width: 85px;
    height: 85px;
    border:1px solid var(--light-gray);
    border-radius: 50%;
    margin-right: var(--p16);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: var(--light-gray);
}

.card_head>div:first-child img{
    height: 88px;
    object-fit: cover;
    object-position: top center;
}

.card_head>div:first-child .default_head{
    height: 60%;
    color:white;
}


/*用戶+評分+日期*/
.card_head>div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* 用戶暱稱*/
.user_name{
    font-size: var(--h5fs20);
    font-weight: var(--fwbold);
}

/* 評價星*/
.star_icon_yellow{
    margin-right:2px;
    color:var(--starYellow);
}

.star_icon_normal{
    margin-right:2px;
    color:var(--light-gray);
}

/* 評價日期*/
.comment_date{
    font-size: var(--pfs14);
    color:var(--gray)
}

/* 評價內容*/
.card_body{
    font-size: var(--pfs16);
    text-align: justify;
    line-height: 1.5;
    margin-top: 16px;
}


@media screen and (max-width:767px){
    .comment_card{
        margin-right:0px;
        margin-bottom: 32px;
        flex:0
    }
}