.icon_btn{
    padding: var(--p16) 20px;
    border-radius: var(--br10);
    border: 0;
    font-size: var(--pfs16);
    color: var(--dark-gray);
    background-color: transparent;
    border: 1px solid var(--gray);
    transition: 0.3s;
}



.icon_btn:hover{
    background-color: var(--light-gray);
    cursor: pointer;
}

.icon{
    margin-right: 10px;
    font-size: var(--pfs16);
}
.like{
   color: var(--heartRed);
   margin-right: 10px;
    font-size: var(--pfs16);
}



@media screen and (max-width:767px){
    .icon_btn{
        padding: 12px var(--p16) ;
        border-radius: var(--br8);
        font-size: var(--pfs14);
    }
    }