.overlay {
  z-index: 999;
  background: rgba(49, 49, 49, 0.6);

}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.slider {
  /* ... */
  display: flex;
  align-items: center; /* 將內容置中 */
  justify-content: center; /* 將內容置中 */
  position: absolute;
  width: 60%;
  top: 2%;
  left: 20%; /* 調整置中的位置 */
  z-index: 9999;
}

.image_container {
  flex: 1; /* 讓圖片佔滿剩餘空間 */
  display: flex;
  align-items: center; /* 將圖片置中 */
  justify-content: center; /* 將圖片置中 */
}

.image {
  /* ... */
  max-height: 900px; /* 使用 max-height 避免圖片變形 */
  max-width: 100%; /* 使用 max-width 避免圖片變形 */
}

/* .xmark{
  color: white;
  position: absolute;
  right: 22%;
  top: 12%;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
} */

.right_arrow {
  color: white;
  position: fixed; 
  right: 20%;
  top: 40%;
  font-size: 2.75rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
  transition: 0.6s;
}

.right_arrow:hover{
    opacity: 1;
}

.left_arrow:hover{
    opacity: 1;
}

.left_arrow {
  color: white;
  position: fixed;
  left: 20%;
  top: 40%;
  font-size: 2.75rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide_active{
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
