.overlay {
  z-index: 999;
  background: rgba(49, 49, 49, 0.8);
}

.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.slider {
  display: flex;
  align-items: center; /* 將內容置中 */
  justify-content: center; /* 將內容置中 */
  position: fixed;
  width: 60%;
  top: 6%;
  left: 20%; /* 調整置中的位置 */
  z-index: 9999;
}

.image_container {
  /* flex: 1; 
  display: flex;
  align-items: center; 
  justify-content: center;  */
}

.image {
  max-height: 82vh;
  /* max-width: 100%; */
}
.image_hovered {
  transform: scale(1.2); /* 设置图像放大的缩放比例为1.2 */
  transition: transform 0.2s ease; /* 添加过渡效果，让放大动作更平滑 */
}
.zoom_buttons {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 100px;
  z-index: 9999;
  position: fixed;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  padding: 6px 28px;
  border-radius: 40px;
  display: flex;
  align-items: center;
}
.zoom_buttons > button {
  color: white;
  opacity: 0.5;
  background-color: transparent;
  border: 0;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
  padding: 4px;
}
.zoom_buttons > button:hover {
  opacity: 1;
}
.plus {
  margin-right: 20px;
}
/* .xmark{
  color: white;
  position: absolute;
  right: 22%;
  top: 12%;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
} */

.right_arrow {
  color: white;
  position: fixed;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
  transition: 0.3s;
  padding: 15px 16px;
  background-color: rgba(0, 0, 0, 0.8);
}

.right_arrow:hover {
  opacity: 1;
  background-color: rgba(179, 179, 179, 0.6);
}

.left_arrow:hover {
  opacity: 1;
  background-color: rgba(179, 179, 179, 0.6);
}

.left_arrow {
  color: white;
  position: fixed;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  opacity: 0.8;
  transition: 0.3s;
  border-radius: 50%;
  padding: 15px 16px;
  background-color: rgba(0, 0, 0, 0.8);
}
.page_indicator {
  color: white;
  font-size: 18px;
  opacity: 0.7;
  padding-right: 20px;
  margin-right: 20px;
  border-right: 1px solid white;
}
.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide_active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
/* 卷軸 */
/* ::-webkit-scrollbar {
  display: none;
} */

@media screen and (max-width: 767px) {
  .slider {
    width: 40%;
    top: 20%;
    left: 30%; /* 調整置中的位置 */
    z-index: 9999;
  }
  .image {
    max-height: 50vh;
  }
  .right_arrow {
    top: 46%;
    padding: 12px 13px;
    font-size: 0.75rem;
  }
  .left_arrow {
    top: 46%;
    padding: 12px 13px;
    font-size: 0.75rem;
  }
  .page_indicator {
    font-size: 14px;
    display: flex;
    width: 120px;
  }
  .plus {
    margin-right: 12px;
    font-size: 20px;
  }
  .plus1 {
    font-size: 20px;
  }
  .zoom_buttons {
    margin-bottom: 60px;
  }
}
