.card {
  width: 100%;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.rest_img {
  width: 100%;
  height: 0;
  padding-bottom: 64%;
  background-color: bisque;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
}
.rest_img>img {
  width: 100%;
  height: auto;
  transition: 0.5s;
  height: 280px;
  object-fit: cover;
  object-position: top center;
}


.info {
  width: 100%;
}
.rest_name {
  margin-top: var(--p16);
  margin-bottom: 10px;
  font-size: var(--h5fs20);
  font-weight: var(--fwbold);
}
.rest_location {
  font-size: var(--pfs16);
  color: #909090;
}
.rest_title {
  display: flex;
  margin-top: 8px;
  align-items: center;
  justify-content: space-between;
}

/*蒐藏商品*/
.like_item {
  height: 120px;
  display: flex;
  align-items: center;
  padding: var(--p16);
  border-bottom: 0.5px solid var(--light-gray);
}

.like_item:hover {
  background-color: var(--light2);
}

/*垃圾桶*/
.trash_icon {
  font-size: var(--h5fs20);
  color: var(--light-gray);
  margin-right: var(--p16);
  transition: 0.4s;
}

.trash_icon:hover {
  color: var(--gray);
  cursor: pointer;
}

/*照片*/
.like_img {
  height: 100px;
  width: 160px;
  /* border: 1px solid var(--light-gray); */
  border-radius: var(--br8);
  overflow: hidden;
  margin-right: var(--p16);
  cursor: pointer;
}

.like_img > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  height: 120px;
  object-fit: cover;
  object-position: top center;
}

/*收藏的內文*/
.like_rest {
  display: flex;
  align-items: center;
  padding: 10px 16px;
}

.like_content_box {
  /* height:80%; */
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.like_title {
  font-size: var(--h5fs20);
  padding-bottom: 8px;
  font-weight: var(--fwbold);
  line-height: 1.4;
  flex: 1;
}

.like_detail {
  font-size: var(--h6fs18);
  color: var(--gray);
}
@media screen and (max-width: 767px) {
  /*照片*/
  .like_img {
    height: 80px;
    width: 120px;
    margin-right: 10px;
  }
  .like_title {
    font-size: 16px;
  }

  .like_detail {
    font-size: 16px;
  }
  .trash_icon {
    font-size: 24px;
    color: var(--light-gray);
    margin-right: 12px;
    transition: 0.4s;
  }
}
