.subBtn {
    width: 130px;
    height: 130px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.subBtn_outline{
    position: absolute;
    top:0;
    left:0;
    width: 130px;
    height: 130px;
    transform: scaleX(-1);
}

.subBtn_outline path{
    transition: all 0.3s;
}


.icon{
    width: 50px;
    height: 50px;
    margin-bottom: 8px;
    pointer-events: none;
    z-index:1;
}
.text{
    font-size: 18px;
    z-index:1;
    pointer-events: none;
}


@media screen and (max-width:767px){
   .subBtn{
        width: 90px;
        height: 90px;
   }
   .subBtn_outline{
        width: 90px;
        height: 90px;
        opacity: 0;
    }
    .icon{
        width: 40px;
        height: 40px;
    }
    .text{
        font-size: 14px;

    }
}