.filter{
    display: flex;
    align-items: center;
    height:56px ;
}
.labels{
    font-size:var(--h6fs18) ;
    font-weight: var(--fwbold);
    height: 100%;
    line-height: 50px;
    width:110px;
    margin-right: 16px;
}

.checkBoxs{
    flex:1;
    height: 100%;
}

.category_area{
    display: flex;
    align-items: center;
    justify-content: center;

}

.paw{
    font-size: var(--h6fs18);
    color: var(--dark);
    margin-right: 10px;
}

@media screen and (max-width:767px){
    .labels{
        width:100%;
        text-align-last: auto;
        height:auto;
        line-height: 1.1;
    }
    .category_area{
        width: 100%;
        margin-bottom: 16px;
    }
    .filter{
        flex-wrap: wrap;
        height:auto;
        margin-top: 24px;
    }
}