.jill_h2{
    font-size: var(--h4fs24);
    font-weight: var(--fwbold);
    padding-bottom: var(--p16);
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.more_text{
    font-size: var(--pfs16);
}
.more_text:hover{
    text-decoration: underline;
    cursor: pointer;
}

.arrow{
    font-size: var(--h5fs20);
    padding: 12px;
    border-radius: 10px;
    transition: 0.8s;
    cursor: pointer;
    background-color: var(--light1);
}
.arrow:hover{
    background-color: var(--secondary);
}

.explore_title{
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.title_icon{
    font-size: var(--h1fs36);
    color: var(--main);
    padding-right: var(--p16);
    margin-bottom: 20px;
}
.show_more{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

@media screen and (max-width:767px){
    .arrow{
        display: none;
    }
    .jill_h2{
        font-size: var(--h6fs18);
    }
    .title_icon{
        font-size: var(--h6fs18);
        padding-right: var(--p8);
    }
    .more_text{
        font-size: var(--pfs14);
    }
    
    }