.tooltipWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clone {
  cursor: pointer;
  font-size: 28px;
  transition: 0.5s;
  opacity: 0.8;
}
.clone:hover {
  color: var(--main);
}
.tooltip {
  position: absolute;
  top: -40px;
  text-align: center;
  width: 90px;
  padding: 6px;
  background-color: white;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  animation:  0.3s tool ease-in-out;
}

@keyframes tool {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}