.tab_group{
    display: flex;
    padding-bottom: 0.75rem;
    gap: 60px;
    font-size: var(--h6fs18);
    border-bottom: 1px solid var(--gray);
}



@media screen and (max-width:767px){
    .tab_group{
        display: none;
    }    
   
    }