.total_pages_rank{
    margin:48px 12px 48px 0px;
    display: flex;
}

.total_pages_rank>div>p{
    font-size: var(--h6fs18);
}
.categor_area{
    display: flex;
    align-items: center;
    justify-content: center;

}
.labels{
    font-size:var(--h6fs18) ;
    font-weight: var(--fwbold);
    height: 100%;
    line-height: 50px;
    width:110px;
    margin-right: 16px;
}

.paw{
    font-size: var(--h6fs18);
    color: var(--dark);
    margin-right: 10px;
}
.date{
    width: 416px;
    margin-right: 100px;
}
.time{
    margin-right: 16px;
    padding: 0 16px;
    width: 416px;
}
.arrow{
    margin-right: 320px;
}



@media screen and (max-width:767px){
    .total_pages_rank>div>p{
        font-size:var(--pfs16) ;
    }
    .categor_area{
        justify-content: flex-start;
        margin-top: 20px;
    }
    .total_pages_rank{
        flex-direction: column;
        margin:0px;
        font-size: var(--h6fs18);
    }
    .time{
        width: 100%;
        margin-bottom: 20px;
    }
    .date{
        width: 100%;
    }
    }