.postNav{
    background-color: #FFEFE8;
    height:50px;
    width:100%;
    display: flex;
    align-content: center;
}
.postNavText{
    font-size: var(--h3fs28);
    font-weight: bold;
    padding-left:20px;
    padding-top:10px;
    width:80%;
}
