.radioGroup{
  display:block;
  padding-left: 5px;
}
.radioGroup label{
  display:flex;
}
.radioGroup label span:first-child{
  max-width: 10px;
}
.radioGroup label span:last-child{
  flex-grow: 1;
}
.tabs{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid var(--light3);
  margin: 0 auto;
  margin-bottom: 16px;
}
.postTypeTab{
  height: 102%;
  width: 30%;
  display: flex;
  justify-content: center;
  padding: var(--p8) 0 var(--p16) 0;
  cursor: pointer;
  transition: all .3s;
}
.postTypeTabSelected{
  height: 102%;
  width: 30%;
  display: flex;
  justify-content: center;
  padding: var(--p8) 0 var(--p16) 0;
  cursor: pointer;
  transition: all .3s;
  border-bottom: 3px solid var(--main);
}
.postTypeTab:hover{
  border-bottom: 3px solid var(--main);
}
.postTypeTab img{
  height: 20px;
}
.postTypeTabSelected img{
  height: 20px;
}

.addNewAddBtn>p{
  padding-top: var(--p8);
  padding-right: var(--p8);
  
  display: block;
  text-align: end;
  font-size: var(--pfs14);
  cursor: pointer;
}
.addNewAddBtn>p:hover{
  color:var(--dark);
}

.formBox{ 
  /* height: 500px; */
  margin-top: var(--p8);
  padding: var(--p8) var(--p16);
  /* border: 1px solid var(--secondary); */
  background-color: var(--light4);
  z-index: 3;
  display:block;
}
.formBox.active{
 display:none;
}
.radioBox{
  position: relative;
}
.delete{
    position: absolute;
    padding-left: 10px;
    top: 8px;
    right: 0;
}
.nodataCard{
padding-top: var(--p16);
}

@media screen and (max-width:576px){
.postTypeTab img{
  height: 18px;
}
.postTypeTabSelected img{
  height: 18px;
}
.tabs{
  margin-bottom: var(--p8);
  /* border: 1px solid gray; */
  height: 40px;
}

}