.box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed var(--secondary);
    padding-bottom: var(--p8);
    font-size: var(--h6fs18);
    line-height: 24px;
    

}
.modalBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed var(--secondary);
    padding: var(--p8) 0;
    font-size: var(--pfs16);
    line-height: 20px;
    width: 95%;
}
.modalBox2{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed var(--secondary);
    padding: var(--p8) 0;
    font-size: var(--pfs16);
    line-height: 20px;
    width: 95%;
    background-color: var(--light5);
}

.info span{
    font-size: var(--h6fs18);
}
.details p{
    margin-bottom: 8px;

}
.postPrice{
    color: var(--main);
}
.edit{
    color: var(--gray);
    cursor: pointer;
}
.icon{
    display: inline-block;
    min-width: 40px;
    font-size: 16px;
    color: var(--secondary);
    text-align: center;
    /* border: 1px solid red; */
}
.postTypeImg{
    width: 80px;
}
.modalPostTypeImg{
    height: 20px;
}

.defaultCheckbox{
    font-size: var(--pfs16);
    display: flex;
    align-items: center;
    /* border: 1px solid pink; */
    color: var(--gray);
    margin-left: 12px;
}
.text{
    margin-left: 13px;
}
@media screen and (max-width:767px){

.icon{
    min-width: 20px;
    text-align: start;
}
.defaultCheckbox{

    margin-left: 0px;
}
.text{
    margin-left: 5px;
}

} 
@media screen and (max-width:576px){
    .box{
    font-size: var(--pfs16);
    flex-direction: column;
    align-items: flex-start;
    }

    .modalBox{
        font-size: var(--pfs14);
        line-height: 18px;
        flex-direction: column;
        align-items: flex-start;
    }
        .modalBox2{
        font-size: var(--pfs14);
        line-height: 18px;
        flex-direction: column;
        align-items: flex-start;
        background-color: var(--light5);
    }
    .postTypeImg{
        order:1;
        width: 70px;
        margin-bottom: 8px;
    }
    .details{
        order:2;
    }
    .modalPostTypeImg{
        order:1;
        height: 16px;
        margin-bottom: 8px;
    }
    .price{
        display: none;
    }
}