.rating {
    border: 1px solid var(--dark-gray);
    padding: var(--p8) var(--p16);
    border-radius: var(--br20);
    font-size: var(--pfs16);
    display: inline-block;
}

.icon{
    margin-right: 6px;
    color: var(--starYellow);
    font-size: var(--pfs16);
}


@media screen and (max-width:767px){
    .rating {
        padding: var(--p8);
        border-radius: 20px;
        font-size: var(--pfs12);
    }
    .icon{
        font-size: var(--pfs12);

    }
    }