.boardNav{
  background-color:#F7ECE3;
  width:100%;
  height:150px;
  position: absolute;
  position: relative;
  display: flex;
  justify-content: center;
  padding-left: 10px;
  margin: 0;
}
.author{
  padding:10px 0 0 0;
}
.board{
  padding:10px 15px 0 15px;
}
.boardBTM{
  width:100%;
  position: absolute;
  top:450px;
}
.boardNavbar{
  margin-bottom: 50px;
}
.boardRange{
  width:1120px;
  height:100%;
  /* overflow-y: hidden; */
  display:flex;
  position: relative;
  /* justify-content: center; */
  margin-left:20px;
  transition: left 0.5s ease; /* 添加过渡效果 */
}
.boardRange::-webkit-scrollbar{
  display: none;
}
.nav{
  /* width:1280px; */
  height:100%;
  display:flex;
  justify-content: center;
  z-index: 90;
  
}
.boardHidden{
  overflow: hidden;
}
.moveIcon{
  padding-top: 60px;
  padding-left:10px;
  cursor: pointer;
}


/* 橘色btn */
.PostAuthorBTNHandler {
  width: 130px;
  height: 130px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.PostAuthorBTNHandler_outline{
  position: absolute;
  top:0;
  left:0;
  width: 130px;
  height: 130px;
  transform: scaleX(-1);
}

.PostAuthorBTNHandler_outline path{
  transition: all 0.3s;
}
.PostAuthorBTNHandler_outline path:hover{
 fill:rgb(255, 123, 0);
 /* transform: scaleX(1.05); */
}

.icon{
  width: 50px;
  height: 50px;
  margin-bottom: 8px;
  pointer-events: none;
  z-index:1;
}
.text{
  font-size: 18px;
  z-index:1;
  pointer-events: none;
  color:white;
  font-weight: var(--fwbold);
  /* text-shadow: rgb(135, 135, 135) 0.1em 0.1em 0.1em; */
}




@media screen and (max-width:767px){
 .PostAuthorBTNHandler{
      width: 90px;
      height: 90px;
 }
 .PostAuthorBTNHandler_outline{
      width: 90px;
      height: 90px;
      opacity: 0;
  }
  .icon{
      width: 40px;
      height: 40px;
  }
  .text{
      font-size: 14px;

  }
}