/* ------------------上方資訊---------------------- */
/*篩選按鈕*/
.btns > button:nth-child(2) {
  margin-left: var(--p16);
}

.nav_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--p32) 0 0 0;
}

.bgc {
  background-color: var(--lightBrown);
}

.card {
  display: flex;
  width: 100%;
  margin-top: 90px;
}

/* 期別選擇 */
/* .date_select{
  width:170px;
  height: 42px;
} */

/*購買數量按鈕*/
.detail_qty {
  width: 170px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--br10);
  font-size: var(--h5fs20);
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--gray);
  overflow: hidden;
  height: 46px;
  line-height: 100%;
  text-align: center;
  /* margin-bottom: 20px; */
}

.numInputBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: var(--br8);
  font-size: var(--pfs16);
  background-color: transparent;
  border: 1px solid var(--light-gray);
  overflow: hidden;
  text-align: center;
}

.minusBtn,
.addBtn {
  padding: 0 var(--p16);
  border: none;
  font-size: var(--h6fs18);
  background-color: transparent;
  transition: 0.3s;
  color: var(--dark-gray);
}

.minusBtn {
  border-right: 1px solid var(--gray);
}

.addBtn {
  border-left: 1px solid var(--gray);
}

.addBtn:hover,
.minusBtn:hover {
  /* color: var(--main); */
  background-color: var(--light-gray);
  cursor: pointer;
}

.input {
  width: 100%;
  /* min-width: 30px; */
  height: 40px;
  text-align: center;
  border: none;
  outline: none;
  font-size: var(--pfs16);
  color: var(--dark-gray);
  background-color: transparent;
}

/* -------左邊------- */
.left {
  position: relative;
  width: 50%;
  /* height: 395px; */
}

.image {
  width: 100%;
  height: 395px;
  object-fit: cover;
  border-radius: var(--br10);
}

.overlay_left {
  position: absolute;
  top: 35%;
  left: 4%;
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  border-radius: 50%;
  border: 0;
}

.overlay_right {
  position: absolute;
  top: 35%;
  right: 4%;
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
  border-radius: 50%;
  border: 0;
}

.overlay_right:hover {
  opacity: 0.6;
}

.overlay_left:hover {
  opacity: 0.6;
}


/* -------右邊------- */
.right {
  width: 40%;
  margin-left: 61px;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.row_text {
  margin-right: 8px;
}

/* 標題 */
.row_text_title {
  color: var(--dark);
  font-size: var(--h2fs32);
  font-weight: var(--fwbold);
  margin-bottom: 20px;
}

.row_price {
  font-size: var(--h6fs18);
  /* color: var(--main); */
  margin-right: 10px;
}

/* 四-六段 icon */
.row_icon {
  margin-right: 5px;
  font-size: var(--h6fs18);
  color: var(--main);
}

/* 上方評分 */
.review {
  display: flex;
  align-items: center;
}

.star_icon {
  margin-right: 5px;
  color: var(--starYellow);
  font-size: var(--h6fs18);
}

/* 下方顧客評分 */
.review_big {
  display: flex;
  align-items: center;
  margin: 0 10px 30px 0;
}

.star_icon_big {
  margin-right: 5px;
  color: var(--starYellow);
  font-size: var(--h4fs24);
}

.rating {
  margin-right: 5px;
  font-size: var(--h3fs28);
}

.row_date {
  display: flex;
  align-items: center;
}

.ppl_qty{
    display: flex;
  }

.ppl_qty_title {
  display: flex;
  margin-bottom: 20px;
}

.ppl_qty_outer{
  display: flex;
}

.ppl_qty_inner {
  align-items: center;
  margin: 0 20px 20px 0;
}

.ppl_qty_inner>div{
display: flex;
margin-bottom: 15px;
}

.ppl_qty_row {
  /* margin-bottom: 15px; */
  font-size: var(--h6fs18);
  margin-right: 10px;
}

.row_total_price {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: var(--fwbold);
}

.total_price {
  font-size: var(--h3fs28);
  color: var(--main);
}

/* .row_btn {
  display: flex;
  align-items: center;
  margin-right: 20px;
} */



/* .btn {
  margin-right: 20px;
} */

.detail_main_buttom {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: auto; /* 將按鈕推到最下面 */

}

.detail_main_buttom > button{
  flex: 1;
  margin-left: 16px; 
}

.detail_main_buttom > button:first-child {
  margin-left: 0px;
}

/* 統一字體 */
.row_text_medium {
  font-size: var(--h5fs20);
}

.purchase_count {
  font-size: var(--h5fs20);
  margin-left: 10px;
  color: var(--gray);
}

.row_text_small {
  font-size: var(--h6fs18);
}

/* ------------------下方資訊---------------------- */

.nav_detail {
  margin-top: 50px;
  margin-bottom: 100px;
}

.feature {
  display: flex;
  margin-top: 37px;
  margin-right: var(--br8);
  align-items: center;
}

.feature_title{
  font-size: var(--h6fs18);
  margin-right: var(--br8);
}

.subtitle {
  color: var(--main);
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
  margin-bottom: 30px;
}

.content {
  display: flex;
  line-height: 30px;
  margin: 30px 0;
}

.content_image {
  width: 45%;
  margin-left: 70px;
  border-radius: var(--br10);
}

.content_image_reverse {
  width: 45%;
  margin-right: 70px;
  border-radius: var(--br10);
}

.comment_cards {
  display: flex;
  flex-wrap: nowrap;
  padding: var(--p16) 0;
  position: relative;
}

.recommend_section {
  margin: 30px 0 200px 0;
}

.recommend_cards {
  display: flex;
  flex-wrap: nowrap;
}

.act_container_inner {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.comment_cards_box {
  width: 100%;
  margin-top: 16px;
  overflow: hidden;
}

/*左右邊按鈕*/
.slider_right_arrow_box,
.left_arrow_box,
.right_arrow_box,
.detail_left_arrow_box,
.detail_right_arrow_box {
  position: absolute;
  font-size: var(--h5fs20);
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
}

.detail_left_arrow_box {
  left: -80px;
}

.slider_right_arrow_box {
  top: 0px;
  right: 20px;
}

.right_arrow_box {
  top: 0px;
  right: 0px;
  width: 80px;
  background-image: linear-gradient(to left, #fffaf6 10%, transparent);
  display: flex;
  justify-content: center;
}

/* .left_arrow_box {
  left: 20px;
} */

.detail_right_arrow_box {
  top: 0px;
  right: -80px;
  width: 120px;
  background-image: linear-gradient(to left, #f7ece3 80%, transparent);
  display: flex;
  justify-content: flex-end;
}

.comment_right_arrow_box {
  background-image: linear-gradient(to left, #fffaf6 80%, transparent);
}

.full_right_arrow_box {
  background-image: none;
  width: auto;
  right: -5%;
  z-index: 999;
}

.left_arrow,
.right_arrow {
  max-width: var(--h4fs24);
  max-height: var(--h4fs24);
  opacity: 0.6;
  padding: 12px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.left_arrow:hover,
.right_arrow:hover {
  opacity: 1;
}

.comment_btns {
  margin-left: 20px;
}

.comment_btn {
  padding: var(--p8) 10px;
  margin-right: 16px;
  border-radius: var(--br10);
  border: 0;
  font-size: var(--pfs16);
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--gray);
  transition: 0.3s;
}

.comment_btn:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.active_comment_btn,
.active_detail_spec_btn {
  border: 1px solid var(--main);
  color: var(--main);
}

.no_pages {
  height: 15px;
}

.recommend_pages,
.new_pages {
  display: flex;
  justify-content: center;
  padding: var(--p32) 0 0 0;
  
}

.sliders_pages_bttn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px;
  border-radius: var(--br10);
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  cursor: pointer;
}

.sliders_pages_active {
  background-color: var(--secondary);
}

.show_full_comment_card {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.6);
  z-index: 999;
}
.bgc_comment_card {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
}

.comment_card_display {
  position: absolute;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 0;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
  z-index: 1001;
}

.test {
  animation: 0.5s showCard ease-in-out;
}


/*分享社群的按鈕們*/
.share_box {
  margin: var(--p16) 0;
  display: flex;
  align-items: center;
}

.share_title {
  font-size: var(--h6fs18);
}

.share_icons {
  display: flex;
  align-items: center;
}

.share_icons svg {
  margin: 0 var(--p8);
  font-size: var(--h2fs32);
  cursor: pointer;
  max-width: 32px;
  max-height: 32px;
}

.share_icons svg.line {
  font-size: 29px;
  color: #35be00;
}

.share_icons svg.fb {
  color: #1b74e4;
}

.twitter {
  width: 28px;
  height: 29px;
  cursor: pointer;
  margin: 0 var(--p8);
}
