.text_large {
  font-size: var(--h3fs28);
  margin-bottom: 12px;
}

.banner {
 /* width: 100%; */
    /* height: 280px; */
    background: rgb(215, 215, 215);
    position: relative;
    height: 337px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-image: url('../public/activity_img/index_banner_3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*篩選按鈕*/

.bgc {
  background-color: var(--lightBrown);
}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: var(--p16);
  padding-bottom: 20px;
}

.btns > * {
  margin-right: 16px;
}

.btns > *:last-child {
  margin-right: 0;
}


.nav_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  margin: 48px 0 0 0;
  }

.filter_date {
  margin: 48px 0;
  }

.line {
  border-bottom: 1px solid var(--gray);
  opacity: 0.5;
  margin-top: 1px;
}

.filter_btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.filter_btns>button {
  margin-left: 16px;
  text-align: center;
}

.labels {
  font-size: var(--h6fs18);
  font-weight: var(--fwbold);
  height: 100%;
  line-height: 50px;
  margin-right: 16px;
}

.dropdowns{
  width: 100%;
  display: flex;
  
}

.dropdown_arrow{
  margin-right: 100px;
}

.location{
  margin-right: 16px;
  padding: 0 16px;
  width: 200px;
}

.city {
  width: 200px;
  margin-right: 30px;
}

.area {
  width: 200px;
}

.quick_selector {
  display: flex;
  justify-content: space-between;
}

.section_card {
  margin-top: 6.5rem;
}

.card {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 6rem;
}
