.text_large {
  font-size: var(--h3fs28);
  margin-bottom: 12px;
}

.banner {
 /* width: 100%; */
    /* height: 280px; */
    background: rgb(215, 215, 215);
    position: relative;
    height: 337px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-image: url('../public/activity_img/index_banner_3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner_pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*篩選按鈕*/

.bgc {
  background-color: var(--lightBrown);
}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: var(--p16);
  padding-bottom: 20px;
}

.btns > * {
  margin-right: 16px;
}

.btns > *:last-child {
  margin-right: 0;
}


.nav_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 92.5px;
}

.filter {
  margin: 80px 0 0 0 ;
  }

.filter_date {
  margin: 48px 0;
  }

.line {
  border-bottom: 1px solid var(--gray);
  opacity: 0.5;
  margin-top: 1px;
}

.filter_btns {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.filter_btns>button {
  margin-left: 16px;
  text-align: center;
}

.labels {
  font-size: var(--h6fs18);
  font-weight: var(--fwbold);
  height: 100%;
  line-height: 50px;
  margin-right: 16px;
}

.dropdowns{
  width: 100%;
  display: flex;
}

.dropdown_arrow{
  margin-right: 100px;
}

.location{
  margin-right: 16px;
  padding: 0 16px;
  width: 200px;
}

.quick_selector {
  display: flex;
  justify-content: space-between;
}


.card {
  display: flex;
  justify-content: space-between;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 6rem;
}

/* 分類bar */
.type {
  width: 100%;
  background: var(--lightBrown);
}

.type_btn_group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px 0 0 0;
}

.custom_link {
  text-decoration: none;
  margin: 0 30px;
}

.title {
  font-size: var(--h3fs28);
  color: var(--dark);
  font-weight: var(--fwbold);
  margin: 50px 0;
  text-align: center;
}



.title_text {
  font-size: var(--h3fs28);
  color: var(--dark);
  font-weight: var(--fwbold);
  margin: 50px 0;
  /* text-align: center; */
}


.intro {
  font-size: var(--h5fs20);
  margin: 20px 0;
  padding: 0 200px;
  line-height: 30px;
}


.title_why{
    text-align: center;
    margin: 120px;
}


