/* ------------------上方資訊---------------------- */
/*篩選按鈕*/
.btns > button:nth-child(2) {
  margin-left: var(--p16);
}


.nav_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--p32) 0 0 0;
}

.bgc {
  background-color: var(--lightBrown);
}



.card {
    display: flex;
    width: 100%;
    margin-top: 90px;
  }

/* 期別選擇 */
/* .date_select{
  width:170px;
  height: 42px;
} */


/*購買數量按鈕*/
.detail_qty {
  width: 170px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--br10);
  font-size: var(--h5fs20);
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--gray);
  overflow: hidden;
  height: 46px;
  line-height: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.numInputBlock {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-radius: var(--br8);
  font-size: var(--pfs16);
  background-color: transparent;
  border: 1px solid var(--light-gray);
  overflow: hidden;
  text-align: center;
}

.minusBtn,
.addBtn {
  padding: 0 var(--p16);
  border: none;
  font-size: var(--h6fs18);
  background-color: transparent;
  transition: 0.3s;
  color: var(--dark-gray);
}

.minusBtn {
  border-right: 1px solid var(--gray);
}

.addBtn {
  border-left: 1px solid var(--gray);
}

.addBtn:hover,
.minusBtn:hover {
  /* color: var(--main); */
  background-color: var(--light-gray);
  cursor: pointer;
}

.input {
  width: 100%;
  /* min-width: 30px; */
  height: 40px;
  text-align: center;
  border: none;
  outline: none;
  font-size: var(--pfs16);
  color: var(--dark-gray);
  background-color: transparent;
}

  
  /* -------左邊------- */
  .left {
    position: relative;
    width: 60%;
    height:610px;

  }
  
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--br20);

  }

  
  .overlay_left {
    position: absolute;
    top: 46%;
    left: 4%;
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    border-radius: 50%;
    border: 0;
  }
  
  .overlay_right {
    position: absolute;
    top: 46%;
    right: 4%;
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.3;
    border-radius: 50%;
    border: 0;
  }

  .overlay_right:hover{
    opacity: 0.6;
  }

  .overlay_left:hover{
    opacity: 0.6;
  }
  
  
  /* .icon {
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background-color:var(--light-gray);
  }
   */
  /* -------右邊------- */
  .right {
    width: 40%;
    margin-left: 61px;
  }
  
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .row_text {
    margin-right: 8px;
  }
  
  
  /* 標題 */ 
  .row_text_title {
    color: var(--dark);
    font-size: var(--h2fs32);
    font-weight: var(--fwbold);
    margin-bottom: 20px;
  }
  
  .row_price{
    font-size: var(--h5fs20);
    color: var(--dark);
  }
  
  /* 四-六段 icon */
  .row_icon{
    margin-right: 5px;
    font-size: var(--h6fs18);
    color: var(--main);
  }
  
  /* 評分 */
  .review{
  display: flex;
  align-items: center;
  margin:0 10px 30px 0;
  }
  
  .star_icon {
    margin-right: 5px;
    color: var(--starYellow);
    font-size: var(--h6fs18);
  }

  .star_icon_big{
    margin-right: 5px;
    color: var(--starYellow);
    font-size: var(--h5fs20);
  }

  .rating {
    margin-right: 5px;
    font-size: var(--h4fs24);
  }
  
  .row_date{
    display: flex;
    align-items: center;
  }
  
  
  .ppl_qty{
    display: flex;
  }
  
  .ppl_qty_row{
    margin-bottom: 15px;
    font-size: var(--h6fs18);
  }
  
  .row_total_price{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: var(--fwbold);
  }

  .total_price{
    font-size: var(--h4fs24);
    color: var(--main);
  }

  .row_btn{
    display: flex;
    align-items: center;
    margin-right: 20px;
  }

  .btn{
    margin-right: 20px;
  }
  
  /* 統一字體 */
  .row_text_medium {
    font-size: var(--h5fs20);
  }

  .row_text_small {
    font-size: var(--h6fs18);
  }

/* ------------------下方資訊---------------------- */

.nav_detail{
    margin: 100px 0;
}

.feature{
   display: flex;
   justify-content: center; 
}

.subtitle{
    color: var(--main);
    font-size: var(--h3fs28);
    font-weight: var(--fwbold);
    margin-bottom: 30px;
}

.content{
    display: flex;
    line-height: 30px;
    margin: 30px 0;
}

.content_image{
    width: 45%;
    margin-left: 70px;
    border-radius: var(--br10);
}

.content_image_reverse{
    width: 45%;
    margin-right: 70px;
    border-radius: var(--br10);
}

.comment_cards{
  display: flex;
  flex-wrap: nowrap;
}