.banner{
    /* width: 100%; */
    /* height: 280px; */
    background: rgb(215, 215, 215);
    position: relative;
    height: 280px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-image: url('../public/activity_img/index_banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}


.search{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}


.banner img {
    position: absolute;
    height: 100%;
    width: auto;
}


.selector{
    background: var(--light1);
}


.type{
    width: 100%;
    background: var(--light1);
}

.type_btn_group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:80px 0;
}

.type_decoration{
    height: 100%;
}


.custom_link {
    text-decoration: none;
  }

.section1{
    height: 602px;
    background: var(--light1);
}

.section_card{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.section2{
    height: 602px;
    background:var(--light2);
    margin-top: 70px;
}

.section3{
    height: 791px;
    background: var(--light1);
}

.section4{
    height: 477px;
    background: var(--light2);
}

.title{
    font-size: var(--h3fs28);
    color: var(--dark);
    font-weight: var(--fwbold);
}