.box{
    padding: var(--p16) 0 60px 0 ;
}
.orderDetail{
    background-color: white;
    padding: var(--p16) var(--p32) ;
    border-radius: var(--br10);
    box-shadow: var(--shadow);
    margin: 32px 0;
}


@media screen and (max-width:767px){
    .orderDetail{
        background-color: transparent;
        padding: 0 0 ;
        border-radius: none;
        box-shadow: none;
        margin-bottom: 0;
        
    }
    
}