

.detailSection{
   padding: 32px 0 32px 0;
   /* border: 1px solid pink; */
}
.checkoutType{
    display: flex;
}

.section{
     background-color: white;
     padding: var(--p16) var(--p16);
     box-shadow: var(--shadow);
     border-radius: var(--br10);
     margin-bottom: var(--p32);
}
.selectAll{
    font-size: var(--pfs16);
    padding-bottom: var(--p8);
    border-bottom: 1px dashed var(--secondary);
    width: 100%;
}
.couponModal{
    /* border: 1px solid red; */
    padding: var(--p16) 0;
    display: flex;
    justify-content: flex-end;
}



.totalSection{
    padding: 32px 0;
    /* border: 1px solid red; */
}

@media screen and (max-width:767px){

.totalSection{
    padding-left: 0px;
}

.headcat{
    left: 3%;
    width: 60px;
}
.headtrees{
    right: 3%;
    width: 60px;
}
.heading{
    text-align: center;
}
}