

.detailSection{
   padding: 32px 0 32px 0;
   /* border: 1px solid pink; */
}
.checkoutType{
    display: flex;
}
.section{
    position: relative;
     background-color: white;
     padding: var(--p16) var(--p16);
     box-shadow: var(--shadow);
     border-radius: var(--br10);
     margin-bottom: var(--p32);
}
.selectAll{
    font-size: var(--pfs16);
    padding-bottom: var(--p8);
    border-bottom: 1px dashed var(--secondary);
    width: 100%;
}
.postPrice{
    position:absolute;
    right: var(--p16);
    top: var(--p32);
    font-size: var(--h6fs18);
    /* color: var(--main); */
}
.postPrice span{
    font-size: var(--pfs16);
    color: var(--gray);
}
.couponModal{
    /* border: 1px solid red; */
    padding: var(--p16) 0;
    display: flex;
    justify-content: flex-end;
}


.totalSection{
    padding: 32px 0;
    /* border: 1px solid red; */
}
/* ========below are for modal without line ==========*/

.overlay {
    z-index: 999;
    background: rgba(49, 49, 49, 0.6);
  }
  .modal {
    z-index: 9999;
    font-size: var(--pfs16);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal,
  .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
  }
  
  
  .modal_card {
    position: absolute;
    width: 60%;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #ffffff;
    padding: 16px 0;
    border-radius: 10px;
    max-width: 570px;
    min-width: 300px;
  }
  .cmodal_card {
  width: 60%;
  line-height: 1.4;
  background: #ffffff;
  padding: 14px 0;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
}
.modal_title {
  font-size: var(--h4fs24);
  text-align: center;
}
.cou_modal_tital{
  font-size: var(--h5fs20);
  font-weight: 600;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(203, 203, 203);
}
  .modal_content{
   font-weight: 800;
   font-size: 24px;
   display: flex;
   justify-content: center;
   padding: 36px 0;
  }
  .cmodal_content{
    padding: var(--p16);
    overflow-y: auto;
    max-height: 60vh;
}
  .btn_group {
    display: flex;
    justify-content: center;
    height: 50px;
    margin-bottom: 20px;
    gap: 16px;
  }
  .btn_group > button {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 100%;
    text-align: center;
    min-width:150px;
  }

.coubtn_group{
    display: flex;
  justify-content: flex-end;
  margin-top: 12px;
  height: 50px;
}

.coubtn_group > button{
    margin-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 100%;
  text-align: center;
}
.line {
  height: 1px;
  border-bottom: 1px solid rgb(203, 203, 203);
}
@media screen and (max-width:767px){

.totalSection{
    padding-left: 0px;
}
  .cmodal_card {
    width: 80%;
    top: 48%;
    max-width: 600px;
    min-width: 350px;
  }
    .modal_title {
    font-size: var(--h6fs18);
  }
    .cou_modal_title {
    font-size: var(--h6fs18);
    padding-bottom: 12px;
  }
    .cbtn_group {
    gap: 16px;
    justify-content: space-around;
    padding: 0 16px;
    
  }
    .cbtn_group > button {
    margin-right: 0;
    width: 100%;
    line-height: 100%;
  }
  .coubtn_group > button {
    margin-right: 0;
    width: 100%;
    line-height: 100%;
  }
  .coubtn_group {
    gap: 16px;
    justify-content: space-around;
    padding: 0 16px;
  }
  .coumodal_title {
    font-size: var(--h6fs18);
    padding-bottom: 12px;
  }
.headcat{
    left: 3%;
    width: 60px;
}
.headtrees{
    right: 3%;
    width: 60px;
}
.heading{
    text-align: center;
}
/* ========below are for modal without line ==========*/

   .modal_card {
      width: 80%;
      top: 48%;
      max-width: 600px;
      min-width: 350px;
      padding: 8px 0;
    }

    .modal_content{
      font-size: 18px;
      padding: 30px 0;
     }

    .btn_group > button {
      margin-right: 0;
      width: 100%;
      line-height: 100%;
      padding: 0;
    }
    .btn_group {
      gap: 16px;
      justify-content: space-around;
      padding: 0 60px;
      height: 48px;
    }

}