.box{
    padding: var(--p16) 0 60px 0 ;
}
.orderDetail{
    background-color: white;
    padding: var(--p16) var(--p32) ;
    border-radius: var(--br10);
    box-shadow: var(--shadow);
    margin: 32px 0;
}
.titles{
    border-bottom: 1px dashed var(--secondary);
    /* border: 1px solid red; */
    display: flex;
    font-size: var(--pfs16);
    color: var(--gray);
    padding: var(--p16) 0;
}
.ttleft{
    width: 59%;
    padding-left: 16px;
}
.ttright{
    display: flex;
    justify-content: space-between;
    padding-right: 16px;
    /* border: 1px solid green; */
    width: 41%;
}
.pq{
    display: flex;
     justify-content: space-between;
    /* border: 1px solid purple; */
    width: 68%
}
@media screen and (max-width:767px){
    .box{
    padding: var(--p8) 0 30px 0 ;
}
    .orderDetail{
        background-color: transparent;
        padding: var(--p16) 5px ;
        border-radius: none;
        box-shadow: none;
        margin-bottom: 0;
        background-color: white;
        
    }
    
}