
.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.headSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid pink; */
}
.gwmphoto{
    width: 95%;
    padding: 0
}
.gwmtitle{
    position: absolute;
    top: 25%;
    right: 3%;
    width: 32%;
}
.shoutgwm{
    position: absolute;
    width: 18%;
    top: 14%;
    left: 14%;
    transform: rotateY(20deg) rotate(-15deg);
}
.cat{
    position: absolute;
    top: -28%;
    left: 1%;
    width: 15%;
    /* border: 1px solid green; */
}

.mainBtnSection{
    padding-top: 60px;
    position:relative;
    justify-content: center;
}

.btnbg{
    width: 100%;
    /* border: 1px solid black; */
}
.mainBtns{
    width: 83%;
    /* border: 1px solid purple; */
    position: absolute;
    display: flex;
    justify-content: space-between;
}
.wave{
    width: 100%;
}
/* PRODUCT */
.cutbottomLine1{
    background-color: white;
}
.productbg{
    background-color: var(--light4);
    padding: 30px 0;
}
.shopBtnArea{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.catJump{
    width: 50%;
}
/* ACTIVITY */
.cutbottomLine2{
    background-color: var(--light5);
}
.activitybg{
    background-color: white;
    padding: 60px 0;
}
.lflag{
    position: absolute;
    width: 18%;
    top: -80px;
    left: -10%;
}
.rflag{
    position: absolute;
    width: 13%;
    top:-10px;
    right: -60px;
}

/* RESTAURANT */
.cutbottomLine3{
    background-color: var(--light2);
}
.restaurantbg{
    background-color: var(--light5);
    padding: 80px 0 20px 0;
}
/* FORUM */
.forumbg{
    padding: 30px 0 70px 0;
}

.hSection{
/* border: 1px solid green; */
    position: relative;
    align-items: center;
    padding: 50px 0;
} 
.hSection{
/* border: 1px solid green; */
    align-items: center;
    padding: 50px 0;
} 
.Info{
    position: relative;
}
.hlCards{
    /* border: 1px solid red; */
    padding-right: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hrCards{
    /* border: 1px solid red; */
    padding-left: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* INFO */

.hstitle{
    font-size: var(--h1fs36);
    color: var(--dark);
    font-weight: bold;
    letter-spacing: 4px;
    padding-top : var(--p16);
    padding-bottom : var(--p16);
}
.hetitle{
    font-size: var(--h5fs20);
    color: var(--gray);
    letter-spacing: 1.5px;
    font-weight: bold;
}
.hsubtitle{
    font-size: var(--h5fs20);
    line-height: 28px;
    padding: var(--p24) 0;
    font-weight: bold;
}
.hsubtitle li{
    font-size: var(--h5fs20);
    line-height: 32px;
}
.hp{
    font-size: var(--pfs16);
    line-height: 20px;
    margin-bottom: 10px;
}
.hhashes{
    display: flex;
    flex-wrap: wrap;
    padding: var(--p32) 0;
}

.hhashes p{
    margin-bottom: var(--p8);
}

@media screen and (max-width:767px) and (min-width:576px){
.hSection{
    padding: 0;
}
.hInfo{
    order: -1;
    padding: 20px 0;
}
.hlCards{ 
    padding-right: 0;
    padding: 20px 0;
}
.hrCards{ 
    padding-left: 0;
    padding: 20px 0;
}

.hresCard{
    width: 100%;
}

.activitybg{
    padding: 40px 0;
}
.lflag{
    position: absolute;
    width: 18%;
    top: -60px;
    left: -10%;
}
.rflag{
    position: absolute;
    width: 13%;
    top:-10px;
    right: -60px;
}

}
@media screen and (max-width:575px){
.hlCards{ 
    justify-content: center;
}
.activitybg{
    padding: 20px 0;
}
.lflag{
    position: absolute;
    width: 25%;
    top: -10px;
    left: -10%;
}
.rflag{
    position: absolute;
    width: 18%;
    top:13px;
    right: -10px;
}
}