
.headSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    z-index: 2;
}
.gwmphoto{
    width: 80%;
    padding-top: 35px;
    margin-right: 50px;
    animation: showup .3s ease-in, scale 8s;
}
.gwmtitle{
    position: absolute;
    top: 25%;
    right: 6%;
    width: 32%;
}
.shoutgwm{
    position: absolute;
    visibility: hidden;
    width: 16%;
    top: 5%;
    left: 5.5%;
    animation: heartBeat 0.5s ease-in 1.4s;
    animation-fill-mode: forwards;
}
.road,.cat,.nextbg, .pinkroad,.smShop,.smEvent,.smRes,.smForum,.r1,.r2,.r3,.smGwm,.trafficlight1,.tree1,.tree2,.tree3{
    display:none;
}

.mainBtnSection{
    padding-top: 30px;
    position:relative;
}
.wave{
    width: 100%;
}
/* PRODUCT */
.cutbottomLine1{
    background-color: white;
}
.productbg{
    background-color: var(--light4);
    padding: 30px 0;
    z-index: 1;
}
.shopBtnArea{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.catJump{
    width: 50%;
}
/* ACTIVITY */
.cutbottomLine2{
    background-color: var(--light5);
}
.activitybg{
    background-color: white;
    padding: 60px 0 0 0;
}
.lflag{
    position: absolute;
    width: 18%;
    top: -80px;
    left: -10%;
}
.rflag{
    position: absolute;
    width: 13%;
    top:-10px;
    right: -60px;
}

/* RESTAURANT */
.cutbottomLine3{
    position: relative;
    background-color: var(--light2);
}
.restaurantbg{
    background-color: var(--light5);
    padding: 80px 0 10px 0;
}
.dog{
    position:absolute;
    top:-65%;
    right: 2%;
    width: 18%;
    transform: rotate(-5deg);
}
.bowls{
    position:absolute;
    left: 9%;
    top: -40%;
    width: 10%;

}
/* FORUM */
.forumbg{
    padding: 30px 0 70px 0;
}
.forumBtnArea{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.forumChatImg{
    width: 40%;
    margin-right: 40px;
}
.hSection{
    position: relative;
    align-items: center;
    padding: 50px 0;
    /* border: 1px solid green; */
} 

.actbox{
    display:flex;
    transform: translateX(0%);
    width: 500%;
}
.infoBox{
    width: 50%;
    padding-right: 1%;
}




.Info{
    position: relative;
}
.hlshopCards{
    /* border: 1px solid pink; */
    padding-right: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.hlshopCards>div:nth-child(2){
    margin-top: 40px;
}
.hlshopCards>div:nth-child(5){
    margin-top: 40px;
}
.hlresCards{
    padding-right: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.hlresCards>div:nth-child(2){
    margin-top: 40px;
}

.hrCards{
    padding-left: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hrForumCards{
    position: relative;
    padding-left: 3%;
    overflow: hidden;
    /* border: 1px solid gray; */
}
.cardIn{
    position: absolute;
    z-index: 3;
    height: 100%;
    left:0;
    width: 40px;
    background-image: linear-gradient(to right, #fffaf6 40%, transparent);
    /* border: 1px solid pink; */

}
@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-65%); }
}

.forumSlide {
  display: flex;
  width: 3850px;
  justify-content: space-between;
  animation: slide 65s linear infinite;
  overflow:hidden;
  padding: 20px 0;
  /* border: 1px solid red; */
}
/* background-image: linear-gradient(to left, #f7ece3 80%, transparent); */
.forumSlide:hover {
  animation-play-state: paused;
}


/* INFO */

.hactInfo{
    overflow: hidden;
}
.hstitle{
    font-size: var(--h1fs36);
    color: var(--dark);
    font-weight: bold;
    letter-spacing: 4px;
    padding-top : var(--p16);
    padding-bottom : var(--p16);
}
.hetitle{
    font-size: var(--h5fs20);
    color: var(--gray);
    letter-spacing: 1.5px;
    font-weight: bold;
}
.hsubtitle{
    font-size: var(--h5fs20);
    line-height: 28px;
    padding: var(--p24) 0;
    font-weight: bold;
}
.hsubtitle li{
    font-size: var(--h5fs20);
    line-height: 32px;
}
.hp,.hpres{
    font-size: var(--pfs16);
    line-height: 20px;
    margin-bottom: 10px;
}
.hpres{
    margin-bottom: 48px;
}

.hhashes{
    display: flex;
    flex-wrap: wrap;
    padding: var(--p32) 0;
}
.hhashes p{
    margin-bottom: var(--p8);
}
@media screen and (max-width:1200px) {
    .gwmphoto{
    width: 90%;
    margin-right: 0;
    padding-top: 10px;
    }
    .shoutgwm{
    width: 16%;
    top: 3%;
    left: 3%;
   
}
    .hlshopCards>div:nth-child(2){
    margin-top: 20px;
    }
    .hlshopCards>div:nth-child(5){
        margin-top: 20px;
    }
    
}
/* @media screen and (max-width:767px) and (min-width:576px){ */
@media screen and (max-width:767px) {
 
    .hSection{
        padding: 0;
    }
    .hInfo{
        order: -1;
        padding: 20px 0;
    }
    .hlshopCards{ 
        padding-right: 0;
        padding: 20px 0;
    }
    .hlresCards{ 
        justify-content: center;
        padding-right: 0;
        padding: 20px 0;
    }
    .hlresCards>div:nth-child(2){
        margin-top: 60px;
    }
    .hrCards{ 
        padding-left: 0;
        padding: 20px 0;
    }
    .hrForumCards{
        padding-left: 0;
    }
    .hresCard{
        width: 100%;
    }
    .activitybg{
        padding: 40px 0;
    }
    .lflag{
        position: absolute;
        width: 18%;
        top: -60px;
        left: -10%;
    }
    .rflag{
        position: absolute;
        width: 13%;
        top:-10px;
        right: -60px;
    }
}
@media screen and (max-width:575px){
    .headSection{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 250px;
    }
    .gwmtitle{
        position: relative;
        margin-left: 10%;
        width: 60%;

    }
     .gwmphoto{
    width: 95%;
    padding-top: 0;
     }
    .shoutgwm{
    display:none;
    }
    /* INFO BOX */
    .hstitle{
        font-size: var(--h2fs32);
    }
    .hetitle{
        font-size: var(--h6fs18s);
    }
    .hsubtitle{
        font-size: var(--pfs16);
    }
    .hsubtitle li{
        font-size: var(--pfs16);
    }
    .hp{
        font-size: var(--pfs14);
    }
    .hpres{
        font-size: var(--pfs14);
        margin-bottom: var(--p32);
    }

    .road, .cat,.nextbg, .pinkroad,.smShop,.smEvent,.smRes,.smForum,.r1,.r2,.r3,.smGwm,.trafficlight1,.tree1,.tree2,.tree3{
        display:block;
        position:absolute;
        
    }
    .smGwm{
        top:36%;
        left: 78%;
        width: 17%;
    }
    .smShop,.smEvent,.smRes,.smForum{
        animation: float 5s ease-in-out infinite;
        z-index: 2;
    }
    .road{
        top:47%;
        left: -40%;
        width: 190%;
    }
    .pinkroad{
        top:115%;
        left: -40%;
        width: 190%;
        z-index: 2;
    }
    .cat{
        top: 53%;
        left:2%;
        width: 28%;
    }
    .trafficlight1{
        width: 2%;
        top: 92%;
        left: 40%;
    }
    .tree1{
        width: 5%;
        top: 74%;
        left: 83%;
    }
    .tree2{
        width: 8%;
        top: 125%;
        left: 12%;
        z-index: 2;
    }
    .tree3{
        width: 7%;
        top: 143%;
        left: 90%;
        z-index: 2;
    }
    .smShop{
        top:82%;
        left: 15%;
        width: 24%;
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .smEvent{
        top:88%;
        left: 59%;
        width: 24%;
        -webkit-animation-delay: 1.3s;
        animation-delay: 1.3s;
    }
    .smRes{
        top:115%;
        left: 21%;
        width: 24%;
        -webkit-animation-delay: 0.6s;
        animation-delay: 0.6s;
    }
    .smForum{
        top:125%;
        left: 65%;
        width: 24%;
        -webkit-animation-delay: 2.6s;
        animation-delay: 2.6s;
    }
    .r1{
        width: 11%;
        top:95%;
        left:44%;
        transform: rotate(-10deg);
    }
    .r2{
        width: 11%;
        top:112%;
        left:46%;
        transform: rotate(-70deg);
        z-index: 2;
    }
    .r3{
        width: 11%;
        top:130%;
        left:50%;
        z-index: 2;
    }
    .nextbg{
        width: 100%;
        height: 400px;
        background-color: var(--light4);
        top: 80%;
        left:0;
    }
    .mainBtnSection{
        display: none;
    }
    .activitybg{
        padding: 20px 0;
    }
    .lflag{
        position: absolute;
        width: 30%;
        top: -40px;
        left: -10%;
    }
    .rflag{
        position: absolute;
        width: 25%;
        top:0px;
        right: -10px;
    }
    .hlshopCards{
        margin: 20px 0;
    }
    .hlresCards{
        margin: 20px 0;
    }

    .dog,.bowls{
        display:none;
    }
    .restaurantbg{
    background-color: var(--light5);
    padding: 30px 0 30px 0;
    }
    .forumbg{
        padding: 30px 0 70px 0;
    }
}

/* @keyframes heartBeat {
  0%{
    transform:  scale(0.5) translateX(150%) translateY(100%);
    visibility: visible;
  }
  20%{
    transform: scale(1) translateX(50%) translateY(33%) ;
  }
  40% {
    transform: scale(.5) translateX(150%) translateY(100%);
  }
  75%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
    visibility: visible;
  }
} */
@keyframes heartBeat {
  0%{
    transform:  scale(0.5) translateX(150%) translateY(100%);
    visibility: visible;
  }
  /* 20%{
    transform: scale(1) translateX(50%) translateY(33%) ;
  }
  40% {
    transform: scale(.5) translateX(150%) translateY(100%);
  }
  75%{
    transform: scale(1.1);
  } */
  100%{
    transform: scale(1);
    visibility: visible;
  }
}
@keyframes showup {
  0%{
    opacity: 0;
  }
   100%{
    opacity:1;
  }
 
}
@keyframes scale {
  0%{
    transform: scale(0.96);
  }
   100%{
    transform: scale(1);
  }
}
@keyframes float {
	0% {
		transform: translatey(0%);
	}
	50% {
		transform: translatey(-5%);
	}
	100% {
		transform: translatey(0%);
	}
}