

.d-center{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.headSection{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gwmphoto{
    width: 95%;
    padding: 0
}
.gwmtitle{
    position: absolute;
    top: 25%;
    right: 4%;
    width: 32%;
}
.cat{
    position: absolute;
    top: 75%;
    left: 4%;
    width: 15%;
    z-index:99;
}

.mainBtnSection{
    padding-top: 60px;
    position:relative;
    justify-content: center;
}

.btnbg{
    width: 100%;
    /* border: 1px solid black; */
}
.mainBtns{
    width: 83%;
    /* border: 1px solid purple; */
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.hSection{
/* border: 1px solid green; */
align-items: center;
} 


.hlCards{
    /* border: 1px solid red; */
    padding-right: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.hrCards{
    /* border: 1px solid red; */
    padding-left: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



/* SHOPINFO */

.hstitle{
    font-size: var(--h1fs36);
    color: var(--dark);
    font-weight: bold;
    letter-spacing: 4px;
    padding-top : var(--p16);
    padding-bottom : var(--p8);
}
.hetitle{
    font-size: var(--h5fs20);
    color: var(--gray);
    letter-spacing: 1.5px;
    font-weight: bold;
}
.hsubtitle{
    font-size: var(--h5fs20);
    line-height: 32px;
    padding: var(--p24) 0;
}
.hp{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 10px;
}
.hhashes{
    display: flex;
    flex-wrap: wrap;
    padding: var(--p32) 0;
}
.hhash{
    padding: var(--p8) var(--p16);
    background-color: var(--light1);
    border-radius: var(--br20);
    margin-right: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width:767px){


}