.orderCardContent{
  background-color: #fff;
  border-radius: var(--br20);
  padding: var(--p24);
  box-shadow: var(--shadow);
	margin-bottom: 40px;
}

.orderSid,.items,.statusIcon{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: var(--p8) 0;
}


.orderSid{
  border-bottom: 1px solid var(--gray);
}

.titles{
  border-bottom: 1px solid red;
}

.itemNum{
  background-color: var(--light1);
  padding: var(--p16); 
  border-radius: var(--br8);
}

.price{
  color: var(--main);
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
}

.sidTitle{
  color: var(--dark);
  font-weight: var(--fwbold);
}

.orderStatus{
  display: flex;
}

.text{
  margin-left: 5px;
  font-size: var(--pfs16);
}



.totalPrice{
  display: flex;
  justify-content: flex-end;
  padding: var(--p8) 0; 
  margin: 20px 0 0 0;
  align-items: center;
}


.icons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--p24) 0;
}

.iconBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div{
  height: 30px;
}

.statusTitle{
  font-size: var(--pfs14);
  padding: var(--p8) 0;
}

.orderInfo{
  background-color: var(--light1);
  border-radius: var(--br20);
  padding: var(--p24);
  display: flex;
  justify-content: space-between;
  margin: 40px 0 50px 0;
}

.infoText{
  display: flex;
  margin-top: 10px;
}

.filed{
  display: flex;
  justify-content: space-between;
  padding: var(--p16);
  border-bottom: 1px solid var(--light-gray);
}

.filedR,.filedL{
  width: 45%;
}

.filedR{
  display: flex;
  justify-content: space-between;
}

.filedProduct{
  color: var(--main);
}

.filedItem{
  width: 40px;
  text-align: center;
  margin-left: 0px;
  color: var(--gray);
}


.statusTime{
  font-size: var(--pfs12);
  color: var(--gray);
}

.priceContent{
  margin-left: auto;
  margin-top: 20px;
  background-color: var(--light1);
  border-radius: var(--br20);
  width: 30%;
  padding: var(--p16);
}

.priceItem{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.priceTitle{
  color: var(--gray);
}




@media screen and (max-width:1440px){
	.icons{
			display: none;
	}

	.statusIcon{
		justify-content: flex-end;
	}

	.itemContent{
		flex-direction: column;
		align-items: flex-start;
	}

  .orderInfo{
    display: block;
  }
  
  .infoText{
    display: block;
    font-size: var(--pfs14);
    margin: 10px 0;
  }
	} 