.editForm{
  width: 70%;
  margin: 0 auto;
}

.btns{
  display: flex;
  justify-content: flex-end;
}

.btn{
  margin: 10px;
}

.validBox{
  padding: var(--p8);
  color: var(--gray);
}

.validBox div{
  font-size: var(--pfs14);
  margin-bottom: 5px;
}

.validated{
  color: var(--green);
}


.content{
  margin-top: 30px;
  background-color: var(--light1);
  border-radius: var(--br10);
  padding: var(--p32) 0;
} 

.nameMobile{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}



.name{
  width: 80%;
  padding-right: 50px;
}

.title{
  font-size: var(--h2fs32);
  color: var(--dark);
  font-weight: var(--fwbold);
  letter-spacing: 2px;
  margin-bottom: 50px;
}

.avatar{
  width: 200px;
  height: 200px;
  background-color: #fff;
}

.avatar img{
  width: 100%;
  object-fit: cover;
}

.warning{
  font-size: var(--pfs14);
  color: var( --heartRed);
}

.faPenToSquareBox{
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
  border: 1px dashed var(--light-gray);
  border-radius: var(--br8);
  background-color: #ffffff91;
}

.faPenToSquareImg{
  margin: 0 auto;
  margin-bottom: 10px;
}

.faPenToSquare{
  font-size: 30px;
  color: var(--main);
}

.faPenToSquareText{
  font-size: var(--pfs14);
  color: var(--main);
  text-align: center;
}

@media screen and (max-width:1440px) and (min-width:769px){
  .nameMobile{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .name{
    padding-right: 0;
    width: 100%;
    margin-top: 20px;
  }
  

}

@media screen and (max-width:767px){
  .nameMobile{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  
  .name{
    margin-top: 20px;
    padding-right: 0;
    width: 100%;
  }

}