.container_outer_shop {
  min-height: 100%;
  position: relative;
  max-width: 1920px;
  /* overflow-x: hidden; */
  margin: auto;
}

.bgc_lightBrown {
  background-color: var(--lightBrown);
}

.search_bar {
  text-align: center;
  padding: var(--p32) 0;
}

.nav_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--p32);
}

.eight_icons > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.eight_icons > div > svg {
  width: 100%;
}

.eight_icons > div > img {
  width: 70%;
}

/*篩選按鈕，不可刪除*/
.btns > button:last-child {
  margin-left: var(--p16);
}

/*貓狗大類別的圖示按鈕*/
.pet_type_tabs {
  display: flex;
  justify-content: center;
  margin: 48px 0 32px 0;
}

.pet_type_tabs span {
  padding-left: var(--p16);
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
}

.tab_active {
  display: flex;
  align-items: center;
  margin-right: 80px;
  padding-bottom: var(--p8);
  border-bottom: 3px solid var(--main);
}

.tab_normal {
  display: flex;
  align-items: center;
  margin-right: 80px;
  padding-bottom: var(--p8);
  cursor: pointer;
}

/*主頁滑動卡片的排版*/
.product_card {
  display: flex;
}

.pet_type_cards {
  margin-left: 5%;
  width: 7000px;
}

.pet_type_btns {
  text-align: center;
  margin: 72px 0 96px 0;
}

.pet_type_btns > button {
  width: 15px;
  height: 15px;
  border: var(--light-gray);
  border-radius: 50%;
  margin: 0 5px;
}

.circle_btn_active {
  background-color: var(--secondary);
}

/*品牌卡片*/
.brand_cards {
  padding: 100px;
}

/*新品滑動卡片的排版*/

.new_products_title {
  padding-bottom: var(--p32) 0;
  font-size: var(--h2fs32);
  font-weight: var(--fwbold);
  text-align: center;
  margin: 88px 0 96px 0;
}

.new_cards,
.recomand_cards {
  margin-left: 5%;
  width: 7000px;
}

.recomand_cards {
  margin-left: 0%;
}

/*--------------商品列表頁-------------*/
/* 篩選的按鈕 */
.filter_btns {
  display: flex;
  justify-content: flex-end;
  height: 48px;
}
.filter_btns > button {
  margin-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 100%;
  text-align: center;
}
.filter_btns > button:last-child {
  margin-right: 0;
}

/*商品列表卡片的外層*/
.cards {
  margin: 36px 0 36px 0;
}

/*頁碼*/
.pagination {
  margin: 70px 0;
  text-align: center;
}

/*--------------商品細節頁面-------------*/

/* 主要訊息區 */
.detail_main_box {
  margin-top: 48px;
  display: flex;
}

.detail_main_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*商品名稱*/
.detail_main_title {
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
  line-height: 1.3;
}

/*所有主要訊息區的右邊tiltle字體都固定*/
.detail_spec_title,
.detail_title {
  font-size: var(--h5fs20);
  /* font-weight: bolder; */
  margin-bottom: 16px;
  margin-top: 32px;
}

.detail_spec_title {
  margin-top: 24px;
}

/* 照片區 */
.detail_img_box {
  width: 40%;
  margin-right: 36px;
}

.detail_big_img {
  width: 100%;
  border-radius: var(--br10);
  overflow: hidden;
  text-align: center;
}

.detail_big_img > img {
  width: 100%;
}

.detail_small_boxs {
  display: flex;
  margin-top: 10px;
}

.detail_small_img {
  width: 75px;
  margin-right: 10px;
  border: 1px solid var(--light-gray);
  border-radius: var(--br8);
  overflow: hidden;
  opacity: 0.5;
}

.detail_small_img_active {
  width: 75px;
  margin-right: 10px;
  border: 1px solid var(--light-gray);
  border-radius: var(--br8);
  overflow: hidden;
  opacity: 1;
}

.detail_small_img > img,
.detail_small_img_active > img {
  width: 100%;
}

/*價格*/
.detail_price {
  font-size: var(--h4fs24);
  font-weight: var(--fwbold);
}

/*規格按鈕*/
.detail_spec_btn {
  margin-right: 16px;
  margin-bottom: 8px;
  padding: var(--p16) 20px;
  border-radius: var(--br10);
  border: 0;
  font-size: var(--pfs16);
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--gray);
  transition: 0.3s;
  height: 48px;
  line-height: 100%;
  text-align: center;
}

.detail_spec_btn:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.detail_spec_btn_none {
  display: none;
}

/*購買數量按鈕*/
.detail_qty {
  width: 170px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--br10);
  font-size: var(--h5fs20);
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--gray);
  overflow: hidden;
  height: 46px;
  line-height: 100%;
  text-align: center;
}

.detail_qty_sub_btn,
.detail_qty_add_btn {
  border: none;
  padding: 0 20px;
  font-size: var(--h5fs20);
  background-color: transparent;
  transition: 0.3s;
}

.detail_qty_sub_btn {
  border-right: 1px solid var(--dark-gray);
}

.detail_qty_add_btn {
  border-left: 1px solid var(--dark-gray);
}

.detail_qty_add_btn:hover,
.detail_qty_sub_btn:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.detail_qty_input {
  width: 30px;
  text-align: center;
  border: none;
  outline: none;
  padding: var(--p16) 0;
  border: 0;
  font-size: var(--pfs16);
  color: var(--dark-gray);
  background-color: transparent;
}

/*付款方式*/

.detail_spec_text,
.detail_ship_text {
  font-size: var(--h6fs18);
  line-height: 1.3;
}

/*主要按鈕區*/
.detail_main_bottom {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.detail_main_bottom > button {
  flex: 1;
  margin-right: 16px;
}

.detail_main_bottom > button:last-child {
  margin-right: 0px;
}

/*產品詳述區*/
/*帶共用元件刻好要刪除*/
.detail_tabs {
  display: flex;
  border-bottom: 1px solid var(--light-gray);
}

.detail_tabs > li {
  font-size: var(--h5fs20);
  flex: 0, 0, 200px;
  border-bottom: 2px solid transparent;
  padding: var(--p16) 20px;
  margin-right: var(--p16);
  transition: 0.3s;
}

.detail_tabs > li:hover {
  border-bottom: 2px solid var(--main);
  cursor: pointer;
}

.detail_text_box,
.detail_return_box {
  padding: var(--p24) 0;
}

.detail_return_box {
  border-top: 2px dashed rgb(95, 35, 27, 0.3);
  padding-bottom: var(--h1fs36);
}

.detail_text_icon {
  color: var(--dark);
  opacity: 0.6;
}

.detail_text_box > li,
.detail_return_box > li {
  display: flex;
  font-size: var(--h5fs20);
  line-height: 1.5;
  padding: var(--p16) 20px;
  text-align: justify;
  align-items: flex-start;
}

.detail_text_box h6,
.detail_return_box h6 {
  font-size: var(--h6fs18);
  font-weight: var(--fwbold);
  width: 150px;
  text-align-last: justify;
  padding-right: var(--p16);
}

.detail_text_box > li > p,
.detail_return_box > li > p,
.detail_return_box > li > ol {
  flex: 1;
  font-size: var(--h6fs18);
}

.detail_return_box > li > ol {
  padding-left: var(--p16);
  line-height: 1.5;
  list-style-type: decimal;
}

.detail_return_box > li > ol > li {
  font-size: var(--h6fs18);
}

/*評論區*/

.comment_section {
  overflow: hidden;
}

.comment_title {
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
  margin: 48px 0 8px 0;
}

.comment_title > p {
  font-size: var(--pfs16);
}

.comment_btns {
  margin: 16px 0 32px 0;
}

.comment_btn {
  padding: var(--p8) 10px;
  margin-right: 16px;
  border-radius: var(--br10);
  border: 0;
  font-size: var(--pfs16);
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--gray);
  transition: 0.3s;
}

.comment_btn:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.comment_cards {
  display: flex;
  flex-wrap: nowrap;
}

/*推薦商品*/
.reconmand_products_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 96px 0;
}

.reconmand_products_title {
  margin-left: var(--p16);
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
}

@media screen and (max-width: 1200px) {
  .eight_icons > div {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  /*貓狗大類別的圖示按鈕*/
  .pet_type_tabs {
    /* margin:56px auto; */
    padding-left: 16px;
  }

  .pet_type_tabs span {
    padding-right: var(--p8);
    font-size: var(--h5fs20);
  }
  .pet_type_tabs span:last-child {
    padding-left: 0;
  }

  .tab_active,
  .tab_normal {
    margin-right: 36px;
  }

  .pet_type_btns {
    display: none;
  }

  /*新品滑動卡片的排版*/

  .new_products_title {
    font-size: var(--h5fs20);
    margin: 36px 0 36px 36px;
    text-align: left;
  }

  .pet_type_cards,
  .new_cards,
  .recomand_cards {
    width: 390px;
    overflow-y: hidden;
  }

  .pet_type_cards::-webkit-scrollbar,
  .new_cards::-webkit-scrollbar,
  .recomand_cards::-webkit-scrollbar {
    display: none;
  }

  /*品牌卡片*/
  .brand_cards {
    padding: var(--p16);
    display: flex;
    flex-wrap: nowrap;
    width: 390px;
    overflow-y: hidden;
  }

  .pet_type_cards,
  .new_cards,
  .recomand_cards {
    width: 390px;
    overflow-y: hidden;
  }

  .brand_cards::-webkit-scrollbar {
    display: none;
  }

  /*--------------商品列表頁-------------*/
  /* 篩選的按鈕 */
  .filter_btns {
    margin-top: 32px;
  }
  .filter_btns > button {
    height: 100%;
    width: 100%;
    margin-right: 16px;
  }

  /*--------------商品細節頁面-------------*/
  /* 主要訊息區 */
  .detail_main_box {
    flex-direction: column;
  }
  /*商品名稱*/
  .detail_main_title {
    font-size: var(--h4fs24);
  }

  /*所有主要訊息區的右邊tiltle字體都固定*/
  .detail_spec_title,
  .detail_title {
    font-size: var(--h6fs18);
  }

  /* 照片區 */
  .detail_img_box {
    width: 100%;
  }

  .detail_small_boxs {
    margin-bottom: 24px;
  }

  /*規格按鈕*/
  .detail_spec_btn {
    margin-bottom: 8px;
    padding: 12px var(--p16);
    border-radius: var(--br8);
    font-size: var(--pfs14);
  }

  /*購買數量按鈕*/

  .detail_qty {
    width: 40%;
    height: 42px;
    border-radius: var(--br8);
    font-size: var(--pfs14);
  }
  .detail_qty_sub_btn,
  .detail_qty_add_btn,
  .detail_qty_input {
    font-size: var(--pfs14);
    padding: 0 12px;
  }

  .detail_spec_text,
  .detail_ship_text {
    font-size: var(--pfs16);
  }

  .detail_text_box > li > p,
  .detail_return_box > li > p,
  .detail_return_box > li > ol {
    font-size: var(--pfs16);
  }

  .detail_return_box > li > ol > li {
    font-size: var(--pfs16);
  }

  /*主要按鈕區*/
  .detail_main_bottom {
    margin-top: 32px;
    flex-wrap: wrap;
  }

  .detail_main_bottom > button {
    flex: 0 0 48%;
    margin-right: 0px;
  }

  .detail_main_bottom > button:last-child {
    margin-top: 16px;
    flex: 0 0 100%;
  }

  /*產品詳述區*/
  .detail_text_box > li,
  .detail_return_box > li {
    flex-direction: column;
    font-size: var(--pfs16);
  }

  .detail_text_box h6,
  .detail_return_box h6 {
    font-size: var(--h6fs18);
    text-align-last: auto;
    padding-right: 0;
    padding-bottom: var(--p8);
  }

  /*評論區*/

  .comment_cards {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .comment_btn {
    border-radius: var(--br8);
    font-size: var(--pfs14);
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .comment_title {
    font-size: var(--h5fs20);
  }
  .comment_title > p {
    font-size: var(--pfs14);
  }

  /*推薦商品*/
  .reconmand_products_box {
    justify-content: flex-start;
    margin: 48px 0 32px 0;
  }

  .reconmand_products_title {
    font-size: var(--h5fs20);
  }
}
