/*首頁廣告輪播牆*/

.shop_sliders {
  width: 100%;
  position: relative;
}

.shop_sliders_box {
  display: flex;

  position: relative;
}

.shop_sliders_box > li {
  display: inline;
}

.shop_sliders_box > li > img {
  width: 100%;
  object-fit: cover;
}

/*左右邊按鈕*/
.slider_right_arrow_box,
.left_arrow_box,
.right_arrow_box,
.detail_left_arrow_box,
.detail_right_arrow_box {
  position: absolute;
  font-size: var(--h5fs20);
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 3;
}

.slider_right_arrow_box {
  top: 0px;
  right: 20px;
}

.right_arrow_box {
  top: 0px;
  right: 0px;
  width: 80px;
  background-image: linear-gradient(to left, #fffaf6 10%, transparent);
  display: flex;
  justify-content: center;
}

.left_arrow_box {
  left: 20px;
}

.detail_right_arrow_box {
  top: 0px;
  right: -80px;
  width: 120px;
  background-image: linear-gradient(to left, #f7ece3 80%, transparent);
  display: flex;
  justify-content: flex-end;
}

.comment_right_arrow_box {
  background-image: linear-gradient(to left, #fffaf6 80%, transparent);
}

.full_right_arrow_box {
  background-image: none;
  width: auto;
  right: -5%;
  z-index: 999;
}

.detail_left_arrow_box {
  left: -80px;
}

.left_arrow,
.right_arrow {
  max-width: var(--h4fs24);
  max-height: var(--h4fs24);
  opacity: 0.6;
  padding: 12px 15px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.left_arrow:hover,
.right_arrow:hover {
  opacity: 1;
}

/*輪播牆的分頁按鈕*/
.shop_sliders_pages {
  background-color: var(--lightBrown);
  padding-top: var(--p16);
  display: flex;
  width: 100%;
  justify-content: center;
}

.shop_sliders_pages_bttn {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 0 10px;
  border-radius: var(--br10);
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  cursor: pointer;
}

.shop_sliders_pages_active {
  background-color: var(--secondary);
}

.bgc_lightBrown {
  background-color: var(--lightBrown);
  position: relative;
}

.search_bar {
  text-align: center;
  padding: var(--p32) 0;
}

.nav_head_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--p32);
}

.eight_icons > div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.eight_icons > div > svg {
  width: 100%;
}

.eight_icons > div > img {
  width: 70%;
  width: 50px;
  height: 50px;
}

/*篩選按鈕，不可刪除*/
.btns > button:last-child {
  margin-left: var(--p16);
}

/*貓狗大類別的圖示按鈕*/
.pet_type_tabs {
  display: flex;
  justify-content: center;
  margin: 48px 0 64px 0;
}

.pet_type_tabs span {
  padding-left: var(--p16);
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
  cursor: pointer;
}

.pet_type_tabs span:hover {
  color: var(--main);
}

.tab_active {
  display: flex;
  align-items: center;
  margin-right: 80px;
  padding-bottom: var(--p8);
  border-bottom: 3px solid var(--main);
}

.tab_normal {
  display: flex;
  align-items: center;
  margin-right: 80px;
  padding-bottom: var(--p8);
}

/*主頁滑動卡片貓狗+新品的排版*/

.cards_box {
  position: relative;
  padding-left: 4%;
}

.cards_display {
  overflow: hidden;
  padding-bottom: 10px;
}

.cards {
  width: calc((260px + 32px) * 30);
  display: flex;
}

.recommand_cards > div,
.cards > div {
  flex: 1;
  margin-right: 32px;
  position: relative;
}

.recommand_cards > div > svg,
.cards > div > svg {
  right: 0;
}

/*品牌推薦*/
.recomand_products_cards_box {
  position: relative;
}

.recommand_cards {
  width: calc((260px + 32px) * 24);
  display: flex;
}

.shop_cat_dog_pages {
  display: flex;
  justify-content: center;
  padding: var(--p32) 0;
}

.no_pages {
  height: 15px;
}

.shop_recommend_pages,
.shop_new_pages {
  display: flex;
  justify-content: center;
  padding: var(--p32) 0 112px 0;
}

/*品牌卡片*/
.brand_cards {
  padding: 100px;
}

/*新品滑動卡片的排版*/
.new_products_title {
  padding-bottom: var(--p32) 0;
  font-size: var(--h2fs32);
  font-weight: var(--fwbold);
  text-align: center;
  margin: 88px 0 96px 0;
}

/*--------------商品列表頁-------------*/
/* 篩選的按鈕 */
.filter_btns {
  display: flex;
  justify-content: flex-end;
  height: 48px;
}
.filter_btns > button {
  margin-right: 16px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 100%;
  text-align: center;
}
.filter_btns > button:last-child {
  margin-right: 0;
}

/*商品列表卡片的外層*/
.cards_list {
  margin: 36px 0 36px 0;
}

/*頁碼*/
.pagination {
  margin: 70px 0;
  text-align: center;
}

/*--------------商品細節頁面-------------*/

/* 主要訊息區 */
.detail_main_box {
  margin-top: 48px;
  display: flex;
}

.detail_main_info {
  flex: 1;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

.detail_main_upper > div {
  padding: var(--p8) 0;
}

.detail_main_upper > div:nth-child(5) {
  margin-bottom: var(--p16);
}

/*商品名稱*/
.detail_main_title {
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
  line-height: 1.3;
}

/*所有主要訊息區的右邊tiltle字體都固定*/
.detail_spec_title,
.detail_title {
  font-size: var(--h5fs20);
  padding: 16px 0;
}

.detail_spec_title svg {
  font-size: 16px;
  color: var(--dark);
}

.detail_spec_warning {
  font-size: var(--h6fs18);
  color: red;
}

/* 照片區 */
.detail_img_box {
  width: 40%;
  margin-right: 36px;  
}

.detail_big_img {
  width: 100%;
  border-radius: var(--br10);
  overflow: hidden;
  text-align: center;
  background-color: white;
}

.detail_big_img > img {
  width: 100%;
}

.detail_small_boxs {
  display: flex;
  margin-top: 10px;
}

.detail_small_img {
  width: 75px;
  margin-right: 10px;
  border: 1px solid var(--light-gray);
  border-radius: var(--br8);
  overflow: hidden;
  opacity: 0.5;
  cursor: pointer;
}
.detail_small_img:hover{
  opacity: 0.8;
}

.detail_small_img_active {
  width: 75px;
  margin-right: 10px;
  border: 1px solid var(--light-gray);
  border-radius: var(--br8);
  overflow: hidden;
  opacity: 1;
}

.detail_small_img > img,
.detail_small_img_active > img {
  width: 100%;
}

/*分享社群的按鈕們*/
.share_box {
  margin: var(--p16) 0;
  display: flex;
  align-items: center;
}

.share_title {
  font-size: var(--h6fs18);
}

.share_icons {
  display: flex;
  align-items: center;
}

.share_icons svg {
  margin: 0 var(--p8);
  font-size: var(--h2fs32);
  cursor: pointer;
  max-width: 32px;
  max-height: 32px;
}

.share_icons svg.line {
  font-size: 29px;
  color: #35be00;
}

.share_icons svg.fb {
  color: #1b74e4;
}

.twitter {
  width: 28px;
  height: 29px;
  cursor: pointer;
  margin: 0 var(--p8);
}

.detail_pay {
  border-top: 1.6px dashed rgb(95, 35, 27, 0.3);
  border-top: 1.6px solid var(--light-gray);
}
/*價格*/
.detail_price {
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
  color: var(--main);
}

/*規格按鈕*/
.detail_spec_btn {
  margin-right: 16px;
  margin-bottom: 4px;
  padding: var(--p16) 20px;
  border-radius: var(--br10);
  border: 0;
  font-size: var(--pfs16);
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--gray);
  transition: 0.3s;
  height: 48px;
  line-height: 100%;
  text-align: center;
}

.detail_spec_btn:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.detail_spec_btn_none {
  display: none;
}

/*購買數量按鈕*/
.detail_qty {
  width: 170px;
  display: flex;
  justify-content: space-between;
  border-radius: var(--br10);
  font-size: var(--h5fs20);
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--gray);
  overflow: hidden;
  height: 46px;
  line-height: 100%;
  text-align: center;
}

/*付款方式*/

.detail_spec_text,
.detail_ship_text {
  font-size: var(--h6fs18);
  line-height: 1.3;
}

/*主要按鈕區*/
.detail_main_bottom {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.detail_main_bottom > button {
  flex: 1;
  margin-right: 16px;
}

/*產品詳述區*/
.detail_tabs {
  display: flex;
  border-bottom: 1.6px solid rgb(95, 35, 27, 0.3);
}

.detail_tabs > li {
  font-size: var(--h5fs20);
  flex: 0, 0, 200px;
  border-bottom: 4px solid transparent;
  padding: var(--p16) 20px;
  margin-right: var(--p16);
  transition: 0.3s;
}

.detail_tabs > li:hover {
  border-bottom: 4px solid rgb(95, 35, 27, 0.8);
  cursor: pointer;
}

.detail_tabs > li.active {
  border-bottom: 4px solid rgb(95, 35, 27, 0.8);
}

.detail_text_box,
.detail_return_box {
  padding: var(--p24) 0;
  padding: 48px 0;
}

.detail_return_box {
  border-top: 2px dashed rgb(95, 35, 27, 0.3);
  padding-bottom: 100px;
}

.detail_text_icon {
  color: var(--dark);
  opacity: 0.6;
}

.detail_text_box > li,
.detail_return_box > li {
  display: flex;
  font-size: var(--h5fs20);
  line-height: 1.5;
  padding: var(--p16) 20px;
  text-align: justify;
  align-items: flex-start;
}

.detail_text_box h6,
.detail_return_box h6 {
  font-size: var(--h6fs18);
  font-weight: var(--fwbold);
  width: 150px;
  text-align-last: justify;
  padding-right: var(--p16);
}

.detail_text_box > li > p,
.detail_return_box > li > p,
.detail_return_box > li > ol {
  flex: 1;
  font-size: var(--h6fs18);
}

.detail_return_box > li > ol {
  padding-left: var(--p16);
  line-height: 1.5;
  list-style-type: decimal;
}

.detail_return_box > li > ol > li {
  font-size: var(--h6fs18);
}

/*評論區*/

.comment_section {
  overflow: hidden;
}

.comment_title {
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
  margin: 48px 0 12px 0;
}

.comment_title > p {
  font-size: var(--pfs16);
}

.comment_btns {
  margin-top: 20px;
}

.comment_btn {
  padding: var(--p8) 10px;
  margin-right: 16px;
  border-radius: var(--br10);
  border: 0;
  font-size: var(--pfs16);
  color: var(--dark-gray);
  background-color: transparent;
  border: 1px solid var(--gray);
  transition: 0.3s;
}

.comment_btn:hover {
  background-color: var(--light-gray);
  cursor: pointer;
}

.active_comment_btn,
.active_detail_spec_btn {
  border: 1px solid var(--main);
  color: var(--main);
}

.warning_detail_spec_btn {
  border: 1px solid red;
}

.comment_cards_box {
  width: 100%;
  margin-top: 16px;
  overflow: hidden;
}

.shop_container_inner {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.comment_cards {
  display: flex;
  flex-wrap: nowrap;
  padding: var(--p16) 0;
  position: relative;
}

.show_full_comment_card {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.6);
  z-index: 999;
}
.bgc_comment_card {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
}

.comment_card_display {
  position: absolute;
  width: 60%;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  padding: 14px 0;
  border-radius: 10px;
  max-width: 600px;
  min-width: 300px;
  z-index: 1001;
}

.test {
  animation: 0.5s showCard ease-in-out;
}
@keyframes showCard {
  0% {
    opacity: 0.5;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*推薦商品*/
.reconmand_products_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 56px 0 88px 0;
}

.reconmand_products_title {
  margin-left: var(--p16);
  font-size: var(--h3fs28);
  font-weight: var(--fwbold);
}

/*客服*/
.online_box {
  position: fixed;
  bottom: 10px;
  /* left:calc(((100% - 1920px) / 2) + 1750px); */
  right: 10px;
  z-index: 3;
  cursor: pointer;
  /* width: 100px; */
  display: flex;
  text-align: center;
}
.online_box:hover {
  color: var(--main);
}

.online_img {
  width: 75px;
  height: 75px;
  background-color: white;
  box-shadow: var(--shadow);
  border-radius: 50%;
  margin: 0 auto;
}

.online_img > img {
  width: 100%;
}

.online_text_box {
  display: flex;
  align-items: center;
}

.online_text {
  text-align: center;
  margin-right: 8px;
  padding: 6px 8px;
  border-radius: var(--br8);
  background-color: white;
  border: 1px solid var(--light-gray);
}

@media screen and (max-width: 1920px) {
  .online_box {
    right: 10px;
    z-index: 4;
    cursor: pointer;
  }
}

@media screen and (max-width: 1920px) and (min-width: 768px) {
  .shop_container_inner {
    width: 68%;
  }
}

@media screen and (max-width: 1200px) {
  .eight_icons > div {
    margin-bottom: 8px;
  }
}

@media screen and (max-width: 767px) {
  .shop_container_inner {
    width: 85%;
  }
  /*首頁廣告輪播牆*/
  .left_arrow_box,
  .right_arrow_box,
  .slider_right_arrow_box,
  .detail_left_arrow_box,
  .detail_right_arrow_box {
    display: none;
  }

  .shop_sliders_pages_bttn {
    width: 30px;
    height: 6px;
  }

  /*貓狗大類別的圖示按鈕*/
  .pet_type_tabs {
    padding-left: 12px;
    margin: 48px 0 32px 0;
  }

  .pet_type_tabs span {
    margin-left: 4px;
    padding-right: 4px;
    font-size: var(--h5fs20);
  }
  .pet_type_tabs span:last-child {
    padding-left: 0;
  }

  .tab_active,
  .tab_normal {
    margin-right: 36px;
  }

  .pet_type_btns {
    display: none;
  }

  .shop_cat_dog_pages {
    display: none;
  }

  .shop_recommend_pages,
  .shop_new_pages {
    visibility: hidden;
    padding: var(--p32) 0 48px 0;
  }

  /*新品滑動卡片的排版*/

  .cards_display {
    overflow: auto;
    user-select: none;
  }

  .cards {
    width: calc((180px + 32px) * 30);
  }

  .recommand_cards {
    width: calc((180px + 32px) * 24);
  }

  .cards_display::-webkit-scrollbar {
    display: none;
  }

  .new_products_title {
    font-size: var(--h5fs20);
    margin: 36px 0 36px 36px;
    text-align: left;
  }

  /*品牌卡片*/
  .brand_cards {
    padding: var(--p16);
    padding: var(--p32) 0;
    display: flex;
    flex-wrap: nowrap;
    /* height: auto; */
    width: 100%;
    overflow-y: hidden;
  }

  .brand_cards::-webkit-scrollbar {
    display: none;
  }

  /*--------------商品列表頁-------------*/
  /* 篩選的按鈕 */
  .filter_btns {
    margin-top: 32px;
  }
  .filter_btns > button {
    height: 100%;
    width: 100%;
    margin-right: 16px;
  }

  .pagination {
    padding-bottom: 70px;
  }

  /*--------------商品細節頁面-------------*/
  /* 主要訊息區 */
  .detail_main_box {
    flex-direction: column;
  }
  /*商品名稱*/
  .detail_main_title {
    font-size: var(--h4fs24);
  }

  /*所有主要訊息區的右邊tiltle字體都固定*/
  .detail_spec_title,
  .detail_title {
    font-size: var(--h6fs18);
  }

  .detail_main_upper > div {
    padding: 4px 0;
  }

  .detail_spec_warning {
    font-size: var(--pfs14);
    line-height: var(--h6fs18);
  }

  /* 照片區 */
  .detail_img_box {
    width: 100%;
  }

  .detail_small_boxs {
    margin-bottom: 24px;
  }

  /*規格按鈕*/
  .detail_spec_btn {
    margin-bottom: 8px;
    padding: 12px var(--p16);
    border-radius: var(--br8);
    font-size: var(--pfs14);
  }

  /*購買數量按鈕*/

  .detail_qty {
    width: 40%;
    height: 42px;
    border-radius: var(--br8);
    font-size: var(--pfs14);
  }

  .detail_spec_text,
  .detail_ship_text {
    font-size: var(--pfs16);
  }

  .detail_text_box > li > p,
  .detail_return_box > li > p,
  .detail_return_box > li > ol {
    font-size: var(--pfs16);
  }

  .detail_return_box > li > ol > li {
    font-size: var(--pfs16);
  }

  /*主要按鈕區*/
  .detail_main_bottom {
    margin-top: 32px;
    flex-wrap: wrap;
  }

  .detail_main_bottom > button {
    flex: 0 0 48%;
    margin-right: 0px;
  }

  .detail_main_bottom > button:last-child {
    margin-top: 16px;
    flex: 0 0 100%;
  }

  /*產品詳述區*/

  .detail_tabs > li {
    font-size: var(--pfs16);
    font-weight: var(--fwbold);
    padding: 10px 6px;
  }

  .detail_text_box > li,
  .detail_return_box > li {
    flex-direction: column;
    font-size: var(--pfs16);
  }

  .detail_text_box h6,
  .detail_return_box h6 {
    font-size: var(--h6fs18);
    text-align-last: auto;
    padding-right: 0;
    padding-bottom: var(--p8);
  }

  /*評論區*/

  .comment_cards {
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .comment_btn {
    border-radius: var(--br8);
    font-size: var(--pfs14);
    margin-right: 8px;
    margin-bottom: 8px;
  }

  .comment_title {
    font-size: var(--h5fs20);
  }
  .comment_title > p {
    font-size: var(--pfs14);
  }

  /*推薦商品*/
  .reconmand_products_box {
    justify-content: flex-start;
  }

  .reconmand_products_title {
    font-size: var(--h5fs20);
  }

  /*客服*/
  .online_box {
    /* top:calc(100% - 100px); */
    z-index: 1;
    /* width: 75px; */
  }
  .online_img {
    width: 60px;
    height: 60px;
  }

  .online_text {
    font-size: var(--pfs14);
    padding: 6px 4px;
  }
}
