.bgc_lightBrown{
    background-color: var(--lightBrown);
}

.search_bar{
    text-align: center;
    padding:var(--p32) 0;
    
}

/*搜尋bar，之後待元件刻好要刪除*/
.search_bar>input{
    height: 53px;
    width:50%;
    border-radius: var(--br8);
    background-color: white;
    border:1px solid var(--light-gray);
    margin-right:16px;
    padding-left:var(--p16)
}

.search_bar>button{
    height: 53px;
    padding:var(--p8) var(--p16);
    border-radius: var(--br10);
    background-color: var(--main);
    color:white;
    border:1px solid var(--light-gray);
    font-size:var(--pfs16);
    line-height: var(--h4fs24s);
}

.nav_head{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top:36px;
}


/*篩選按鈕，等元件刻好後就可以刪除*/
.btns>button{
    padding:var(--p8) var(--p16);
    border-radius: var(--br10);
    background-color: white;
    border:1px solid var(--light-gray)
}

/*篩選按鈕，不可刪除*/
.btns>button:first-child{
    margin-right: var(--p16);

}


/*八大類別的圖示按鈕，待元件刻好就可刪除*/
.eight_icons{
    position:relative;
}

.icon_bg{
    width:100%
}

.icon_info{
    text-align: center;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.icon{
    padding-bottom: var(--p8);
}

/*貓狗大類別的圖示按鈕*/
.pet_type_tabs{    
    display: flex;
    justify-content: center;
    margin: 96px 0;
}

.pet_type_tabs span{
    padding-left:var(--p16);
    font-size: var(--h3fs28);
    font-weight:var(--fwbold)
}

.tab_active{
    display: flex;
    align-items: center;
    margin-right: 80px;
    padding-bottom: var(--p8);
    border-bottom: 3px solid var(--main);
}

.tab_normal{
    display: flex;
    align-items: center;
    margin-right: 80px;
    padding-bottom: var(--p8);
    cursor: pointer;
}


/*主頁滑動卡片的排版*/
.pet_type_cards{
    margin-left:5%;
    width:7000px;
}

.pet_type_btns{
    text-align: center;
    margin: 72px 0 96px 0;
}

.pet_type_btns>button{
    width: 15px;
    height: 15px;
    border: var(--light-gray);
    border-radius: 50%;
    margin:0 5px;
}

.circle_btn_active{
    background-color: var(--secondary);
}

/*品牌卡片*/
.brand_cards{
    padding:100px;
}

/*新品滑動卡片的排版*/

.new_products_title{
    padding-bottom: var(--p32) 0;
    font-size: var(--h2fs32);
    font-weight:var(--fwbold);
    text-align: center;
    /* border:1px solid black; */
    margin:88px 0 96px 0;
}

.new_cards{
    margin-left:5%;
    width:7000px;
}


/*商品列表卡片的外層*/
.cards{
    margin:36px 0 36px 0;  
}

/*頁碼*/
.pagination{
    margin:70px 0;
    text-align: center;
}


/*--------------商品細節頁面-------------*/

/* 主要訊息區 */
.detail_main_box{
    margin-top: 88px;
    display: flex;
}

/*商品名稱*/
.detail_title{
    font-size: var(--h3fs28);
    font-weight: var(--fwbold);
}

/*商品的平均評價+購買人數*/
.avg_rating_total_sales{
    font-size: var(--h5fs20);
    line-height: var(--h5fs20);
    margin:14px 0;
    display: flex;
    align-items: center;
}

.avg_rating_total_sales>div{
    margin-right: 8px;
}

.detail_main_star{
    font-size: var(--h6fs18);    
    color:var(--starYellow);
}

.avg_rating_total_sales>div:nth-child(3){
    /* font-size:var(--pfs14); */
    font-size: var(--pfs16);
    color:var(--gray)
}

/* 照片區 */
.detail_img_box{
    width: 40%;
    margin-right:36px;
}

.detail_big_img{
    width: 100%;
    border-radius: var(--br10);
    overflow: hidden;
    text-align: center;
}

.detail_big_img>img{
    width: 100%;   
}

.detail_small_boxs{
    display: flex;
    margin-top:10px
}

.detail_small_img{
    width: 75px;
    margin-right: 10px;
    border:1px solid var(--light-gray);
    border-radius: var(--br8);
    overflow: hidden;
    opacity: 0.5;
}

.detail_small_img_active{
    width: 75px;
    margin-right: 10px;
    border:1px solid var(--light-gray);
    border-radius: var(--br8);
    overflow: hidden;
    opacity: 1;
}

.detail_small_img>img, .detail_small_img_active>img{
    width: 100%;
}


/*規格按鈕*/

.detail_spec_btn{
    margin-right:16px ;
    padding:var(--p8) var(--p16);
    border-radius: var(--br10);
    background-color: white;
    border:1px solid var(--light-gray)
}

.detail_spec_btn:first-child{
    display: none;
}



/* .detail_img_active{
    opacity: 1;
} */


.comment_cards{
    display: flex;
    flex-wrap: nowrap;
}









@media screen and (max-width:767px){
    .comment_cards{
        flex-direction: column;
        width:100%;
        justify-content: center;
    }
    .pet_type_cards{
        margin-left:5%;
        width:6000px;
    }
}

