:root {
    --main: #FD8C46;
    --secondary: #FFD4C0;
    /* /圓btn, paginationHover */
    --dark: #5f231B;
    --flag:#F1C476;
    --lightBrown: #F7ECE3; /* 咖啡背景色 */
    --light1: #FFEFE8;/* footer背景色 */
    --light2: #FFFAF6;/* 主背景色 */
    --light3:#FFE8D6;/* 論壇背景色 */
    --light-gray:#DDDDDD;
    --gray:#909090;
    --dark-gray: #515151;
    --green: #A1D429;
    --heartRed:#EC5353;
    --starYellow: #FCC917;
   /* font-size */
    --h1fs36:2.25rem;
    --h2fs32:2rem;
    --h3fs28:1.75rem;
    --h4fs24:1.5rem;
    --h5fs20:1.25rem;
    --h6fs18:1.125rem;
    --pfs16:1rem;
    --pfs14:0.875rem;
    --pfs12:.75rem;
    /* font-weight */
    --fwbold: bold;
    /* border-radius */
    --br20: 20px;
    --br10: 10px;
    --br8: 8px;

    /* padding */
    --p8:0.5rem;
    --p16:1rem;
    --p24:1.5rem;
    --p32:2rem;

    /* shadow */
    --shadow: 2px 6px 8px rgba(0,0,0,0.1);
}




/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

*{
    font-size: 16px;
}

html,body{
  height: 100%;
  }
  
  #__next{
    height: 100%;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  color: var(--dark-gray);
}



ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  max-width: 100vw;
  background-color: var(--light2);
}

.container-outer{
	min-height: 100%;
	position: relative;
  border: 1px solid green;
  max-width: 1920px;
  overflow: hidden;
  margin: auto;
}
.container-inner{
    max-width: 1280px;
    border: 1px solid purple;
    margin: auto;
}

/* ---------------- */



.antRow{
  height: 100%;
}

.antCol{
  height: 100%;
  border: 1px solid black;
  background-color: powderblue;
}

.sideBar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.memberInfo{
  width: 17vw;
  height: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary);
  border: 1px solid red;
  border-radius: var(--br20);
  margin-bottom: 30px;
}


.calendarInfo{
  width: 17vw;
  height: 18.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--secondary);
  border: 1px solid red;
  border-radius: var(--br20);
  margin-bottom: 30px;
  overflow: hidden;
}

.gameInfo{
  width: 17vw;
  height: 16vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--secondary);
  border: 1px solid red;
  border-radius: var(--br20);
  margin-bottom: 30px;
  overflow: hidden;
}

.orderCard{
  height: 390px;
  background-color: gray;
}

.profile{
  width: 50%;
  height: 53%;
  border-radius: 50%;
  border: 1px solid red;
  overflow: hidden;
}

.profile img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.memberName,.gameName{
  font-size: var(--h4fs24);
  color: var(--dark);
  font-weight: var(--fwbold);
  letter-spacing: 2px;
}

.level,.gameLevel{
  display: flex;
  align-items: center;
}


.levelTitle,.gameTitle{
  margin-left: 5px;
}

.calendar{
  width: 17vw;
  height: 12.5vw;
  background-color: #fff;
}

.calendarCircle{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.red,.green,.blue{
  display: flex;
  align-items: center;
}

.redCircle{
  background-color: #EC5353;
}

.greenCircle{
  background-color: #317F46;
}

.blueCircle{
  background-color: #5CAAF3;
}

.redCircle,.greenCircle,.blueCircle{
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  margin-right: 5px;
}

.text,.gameLevel{
  font-size: var(--pfs14);
}

.gameImg{
  width: 15vw;
  height: 9vw;
  border-radius: var(--br20);
}

.gameImg img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width:1200px) and (min-width:768px){
/* .container-inner{
    width: 68%;
} */
.memberName,.gameName{
  font-size: var(--h6fs18);
  color: var(--dark);
  font-weight: var(--fwbold);
  letter-spacing: 2px;
}

.levelTitle,.gameTitle{
  font-size: var(--pfs12);
}

.memberInfo,.calendarInfo,.gameInfo,.gameImg{
  border-radius: 15px;
}

.text{
  font-size: var(--pfs12);
}

}
@media screen and (max-width:767px){
.container-inner{
    width: 85%;
}

}