@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');
:root {
    --main: #FD8C46;
    --secondary: #FFD4C0;
    /* /圓btn, paginationHover */
    --dark: #5f231b;
    --flag:#F1C476;
    --lightBrown: #F7ECE3; /* 咖啡背景色 */
    --light1: #FFEFE8;/* footer背景色 */
    --light2: #fffaf6;/* 主背景色 */
    --light3:#FFE8D6;/* 論壇背景色 */
    --light4:#fAF7f4;/*首頁商城背景*/
    --light5:#F7F0EB;/*首頁餐廳背景*/
    --light-gray:#DDDDDD;
    --gray:#909090;
    --dark-gray: #515151;
    --green: #A1D429;
    --heartRed:#EC5353;
    --starYellow: #FCC917;

    /* font-size */
    --h1fs36:2.25rem;
    --h2fs32:2rem;
    --h3fs28:1.75rem;
    --h4fs24:1.5rem;
    --h5fs20:1.25rem;
    --h6fs18:1.125rem;
    --pfs16:1rem;
    --pfs14:0.875rem;
    --pfs12:.75rem;
    /* font-weight */
    --fwbold: bold;
    /* border-radius */
    --br20: 20px;
    --br10: 10px;
    --br8: 8px;

  /* padding */
  --p8:0.5rem;
  --p16:1rem;
  --p24:1.5rem;
  --p32:2rem;

    /* shadow */
    --shadow: 2px 6px 8px rgba(0,0,0,0.1);
    --fontCT:'Noto Sans TC';
}



/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/

/* h1::selection,h2::selection,h3::selection,h4::selection,h5::selection,h6::selection,p::selection {
  color: var(--gray);
  background-color:var(--secondary);
  background-color: rgb(183, 223, 239);
} */
*::selection {
  background-color: rgb(195, 235, 251);
}

img,svg{
  user-select: none;
}

html,body{
  height: 100%;
  }
  
  #__next{
    height: 100%;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
  /* color: var(--dark-gray); */
	vertical-align: baseline;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  font-weight: normal;
}

a:hover,a:link,a:visited,a:active{
  color: var(--dark-gray);
  text-decoration: none;
}



/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
	line-height: 1;
  color: var(--dark-gray);
  font-family: var(--fontCT);
  letter-spacing: 1px;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body{
  max-width: 100vw;
  background-color: var(--light2);
}

.likeList-open{
  overflow: hidden;
  padding-right: 10px;
}

.container-outer{
	min-height: 100%;
	position: relative;
  /* border: 1px solid green; */
  max-width: 1920px;
  overflow: hidden;
  margin: auto;
}

.container-inner{
    max-width: 1280px;
    margin: auto;
}
/* -------------------- */


::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  padding: 0 4px;
}


::-webkit-scrollbar-track {
  background:#F5F5F5;
  border-radius: var(--br10);

}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: var(--br10);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFC3A7;
}

/* -------------------- */

@media screen and (max-width:1920px) and (min-width:768px){
  .container-inner{
      width: 68%;
  }
  }

  
@media screen and (max-width:767px){
.container-inner{
    width: 85%;
}

} 

