.content{
  min-height: 650px;
  background-color: var(--light1);
  border-radius: 0 0 20px 20px;
  padding: 30px;
}

.couponContent{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width:1300px) and (min-width:769px){
  .couponContent{
    justify-content: center;
  }
  }
  
@media screen and (max-width:768px){
.couponContent{
  justify-content: center;
}
}