.box{
    z-index: 50;
    position:fixed;
    /* top:60px; */
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    background-color: #fffaf699;

}
.centerBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  padding: 20px;
  border-radius: var(--br20);
  transform: translateY(-120px);
  /* background-color: var(--light2); */
}
.logo{
    width: 120px;
    margin-bottom: 10px;
    /* animation: float 6s ease-in-out infinite; */

}
.trafficLight{
  width: 8px; 
  margin-left: 1px;
  transform: translateY(5px);
}
.tree{
  width: 40px;
  transform: translateY(-3px);

}
.loadingSection{
    padding-left: 50px;
    width: 400px;
    display: flex;
    align-items: center;
}
.loadingText{
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
}
.loadingText span{
    display: block;
    font-size: 1.625rem;
    color: var(--dark);
    font-weight: bold;
    letter-spacing: 7px;
    animation: waviy 2s ease-in-out infinite;
}
.detail_paw_walking_box{
    margin-top: 20px;
    height: 30px;
    width: 100%;
    transform: translateY(-50%);
    color:var(--dark);
    opacity: 0.4;
}
.detail_paw_up_walking{
  position: absolute;
  -webkit-animation: 10s pawAnimation ease-in-out infinite;
  animation: 2.5s pawAnimation ease-in-out infinite;
}
.detail_paw_up_walking:nth-child(odd){
  transform: rotate(80deg);
}
.detail_paw_up_walking:nth-child(even){
  transform: rotate(100deg);
}

.detail_paw_up_walking:nth-child(1){
  top:15%;
  left:0%;
}

.detail_paw_up_walking:nth-child(2){
  top:70%;
  left:30%;
}

.detail_paw_up_walking:nth-child(3){
  top:-10%;
  left:60%;
}

.detail_paw_up_walking:nth-child(4){
  top:60%;
  left:90%;
} 

.loadingText span:nth-child(2){
    -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loadingText span:nth-child(3){
    -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.loadingText span:nth-child(4){
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
.loadingText span:nth-child(5){
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.loadingText span:nth-child(6){
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}
.loadingText span:nth-child(7){
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.detail_paw_up_walking:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.detail_paw_up_walking:nth-child(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.detail_paw_up_walking:nth-child(4) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}



  @keyframes pawAnimation {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }

  @-webkit-keyframes pawAnimation {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 0.1;
    }
  }
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(5px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-7px)
  }
}

@media screen and (max-width:575px){
.detail_paw_up_walking:nth-child(4) {
  display:none;
}
}