.right_cloud,
.left_cloud {
  position: absolute;
  opacity: 0;
  display: inline-block;
  animation: 6s float ease-in-out infinite;
}

.left_cloud {
  left: 12%;
}

.right_cloud {
  right: 12%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.right_cloud2,
.left_cloud2 {
  position: absolute;
  display: inline-block;
  opacity: 0;
  animation: 6s float ease-in-out infinite;

}

.left_cloud2{
    left: 5%;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}

.right_cloud2{
    right: 5%;
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s;
}


.right_cloud > img,
.left_cloud > img {
  width: 70%;
}

.left_box {
  position: absolute;
  display: flex;
  left: 8%;
  bottom: 15%;
  animation: 3s fly ease-in-out infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.right_box {
  position: absolute;
  display: flex;
  right: 8%;
  bottom: 35%;
  animation: 3s fly ease-in-out infinite;
}



.balloon_right > img,
.balloon_left > img {
  width: 80%;
}

.balloon_right3 > img,
.balloon_right2 > img,
.balloon_left3 > img,
.balloon_left2 > img {
  width: 65%;
}

.balloon_right,
.balloon_left {
  position: absolute;
  bottom: 30%;
  opacity: 0.9;
}

.balloon_left {
  left: 50%;
  transform: translateX(-50%);
}

.balloon_right {
  left: 50%;
  transform: translateX(-50%);
}

.balloon_right2,
.balloon_left2 {
  bottom: 15%;

  transform: rotate(-15deg);
  opacity: 0.7;
}

.balloon_left2 {
  left: 8%;
}

.balloon_right2 {
  right: 12%;
}

.balloon_right3,
.balloon_left3 {
  bottom: 10%;
  transform: rotate(15deg) rotateY(-180deg);
  opacity: 0.8;
}

.balloon_left3 {
  left: 12%;
}

.balloon_right3 {
  right: 8%;
}

@keyframes float {
    0% {
      top: 100%;
      opacity: 0;
    }
    10% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    70% {
      opacity: 0.5;
    }
    100% {
      top: 0%;
      opacity: 0;
    }
  }
  


@keyframes fly {
    0% {
      transform: translateY(5%);
    }
    50% {
      transform: translateY(0%);
    }
    100% {
      transform: translateY(5%);
    }
  }