.right_cloud,
.left_cloud {
  position: absolute;
  opacity: 0;
  display: inline-block;
  animation: 6s float ease-in-out infinite;
}

.left_cloud {
  left: 12%;
}

.right_cloud {
  right: 12%;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.right_cloud2,
.left_cloud2 {
  position: absolute;
  display: inline-block;
  opacity: 0;
  animation: 6s float ease-in-out infinite;
}

.left_cloud2 {
  left: 5%;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.right_cloud2 {
  right: 5%;
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.right_cloud > img,
.left_cloud > img {
  width: 70%;
}

.left_box {
  position: absolute;
  display: flex;
  left: 8%;
  bottom: 0%;
  animation: 3s fly ease-in-out infinite;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.right_box {
  position: absolute;
  display: flex;
  right: 6%;
  bottom: 30%;
  animation: 3s fly ease-in-out infinite;
}

.balloon_right > img {
  width: 50%;
}
.balloon_left > img {
  width: 75%;
}

.balloon_right3 > img,
.balloon_right2 > img {
  width: 35%;
}

.balloon_left3 > img,
.balloon_left2 > img {
  width: 50%;
}

.balloon_right,
.balloon_left {
  position: absolute;
  left: 30%;
  bottom: 50%;
  opacity: 0.9;
  transform: translateX(-50%) rotate(-5deg);
}

.balloon_right {
  bottom: 30%;
  left: 35%;
  transform: translateX(-50%) rotate(5deg);
}

.balloon_right2,
.balloon_left2 {
  opacity: 0.7;
  transform: rotate(-15deg);
}

.balloon_left2 {
  padding-top: 70px;
}

.balloon_right3,
.balloon_left3 {
  position: relative;
  transform: rotate(15deg);
  opacity: 0.8;
}

.balloon_left3 {
  left: -20%;
}

.balloon_right3 {
  right: 20%;
  padding-top: 60px;
}

@keyframes float {
  0% {
    top: 0%;
    opacity: 0.2;
  }
  20% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}

@keyframes fly {
  0% {
    transform: translateY(5%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(5%);
  }
}

@media screen and (max-width: 767px) {
  .balloon_box {
    display: none;
  }
}
