.chatroom_box {
  width: 390px;
  position: fixed;
  right: 90px;
  bottom: 10px;
  z-index: 999;
  background-color: white;
  border-radius: var(--br8);
  --shadow: 2px 6px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid var(--light-gray);
  box-shadow: var(--shadow);
  overflow: hidden;
}

.chatroom_head {
  padding: var(--p16);
  border-bottom: 1px solid var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main);
  color:white
}

.chatroom_head > h6 {
  font-size: var(--h6fs18);
}

.btn_clear_text {
  font-size: var(--h6fs18);
  padding: 0px 5px;
  cursor: pointer;
  border-radius: 50%;
  padding: 0 2px;
}

.btn_clear_text:hover {
  color: var(--main);
  background-color: white;
  border-radius: 50%;
  padding: 0 2px;
}

.chatroom_textarea {
  min-height: 380px;
  max-height: 380px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-bottom: 2px solid var(--light-gray);
  padding: var(--p16);
}

.sending_box > textarea::-webkit-scrollbar,
.chatroom_textarea::-webkit-scrollbar {
  width: 7px;
  height: 100%;
}

.sending_box > textarea::-webkit-scrollbar-track,
.chatroom_textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--light-gray);
  border-radius: var(--br10);
}

.sending_box > textarea::-webkit-scrollbar-thumb,
.chatroom_textarea::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: var(--br10);
}

.sending_box > textarea::-webkit-scrollbar-thumb:hover,
.chatroom_textarea::-webkit-scrollbar-thumb:hover {
  background: rgb(95, 35, 27, 0.5);
}

.emoji_box{
  position: fixed;
  right: 100px;
  bottom: 97px;
  bottom: 107px;
  z-index: 1000;
  width: 378px;
  height: 140px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.emoji_smile{
  color:var(--light-gray);
  font-size:var(--h5fs20); 
  margin-right: var(--p8);
  align-self: center;
  cursor: pointer;
}

.sending_box {
  padding: var(--p16);
  display: flex;
  justify-content: center;
  align-items: stretch;
  position: relative;
}


.sending_box > textarea {
  flex: 1;
  height: 55px;
  border: 1px solid var(--light-gray);
  border-radius: var(--br8);
  margin-right: var(--p8);
  font-size: var(--h6fs18);
  padding: 2px 4px;
}

.sending_box > textarea:focus {
  outline: none;
  border: 1px solid var(--secondary);
}

.sending_box > button {
  font-size: var(--pfs16);
  padding: var(--p8) 20px;
  border: 0;
  border-radius: var(--br8);
  background-color: var(--main);
  color: white;
  cursor: pointer;
}

.text {
  border: 1px solid var(--light-gray);
  border-radius: var(--br10);
  padding: 6px 8px;
  line-height: 1.3;
  margin: 0 6px;
  max-width: 64%;
  font-size: var(--h6fs18);


}

.bgc{
    background-color: #ffefe875;
}

.custom_text {
  justify-content: flex-end;
  padding: 3px 0;
  display: flex;
  align-items: flex-start;
}

.service_text {
  display: flex;
  padding: 3px 0;
  align-items: flex;
}

.leave_text{
  justify-content: center;
  padding: 3px 0;
  display: flex;
  align-items: flex-start;
}


.time{
    font-size: 10px;
    padding-bottom: 6px;
    align-self: flex-end;
    color:var(--gray)
}

.head_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--light-gray);
  order:0
}

.head_img>img{
  height: 42px;
  object-fit: cover;
  object-position: top center;
}

.head_img_no_show {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid var(--light-gray);
  visibility: hidden;
  order:1
}

.order3{
    order:3
}

.order0{
    order:-1
}

.head_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.default_head{
  padding-top: 15%;
  width: 100%;
  height: 85%;
  color:var(--light-gray);
}
@media screen and (max-width:500px){
    .chatroom_box{
        right: 0px;
        bottom: 0px;
      }

      .emoji_box{
        right: 0px;
      }
}